<% content_for(:page_title) {t '.page_title', area: @area.name } %>
<% content_for(:admin_menu) {navbar_link_to t('buttons.add'), new_person_path} %>

<div class="jumbotron">
  <h1>
    <span class="flag-icon flag-icon-<%= @area.country.alpha2 %>"></span>
    <%= link_to(@area.country.name, @area.country) %>
    /
    <%= link_to(@area.name, area_plaques_path(@area)) %>
    <%= t '.page_heading' %>
  </h1>
  <p>
    <%= @curated_count %> out of <%= @plaques_count %>
    (<%= @percentage_curated %>%)
    plaques have been curated
  </p>
  <span class="badge bg-secondary pull-right"><%= @subject_count %></span>
</div>

<%= render partial: 'people/diversity' %>
<br/>
<%= will_paginate @people if @people.respond_to?(:total_pages) %>
<%= render partial: 'people/tiles' %>
<%= will_paginate @people if @people.respond_to?(:total_pages) %>
