<div class="card hovercard vcard person" typeof="<%= if (person.person?) then "foaf:Person" else "foaf:Agent" end %> vcard:VCard" about="#person">
  <div class="card-background">
    <% if person.main_photo && person.main_photo.thumbnail_url %>
      <%= image_tag(person.main_photo.thumbnail_url, :class => 'card-bkimg') %>
    <% elsif person.main_photo && person.main_photo.file_url %>
      <%= image_tag(person.main_photo.file_url, :class => 'card-bkimg') %>
    <% else %>
      <img src="/assets/NoPhotoSqr.png" class="card-bkimg">
    <% end %>
  </div>
  <div class="useravatar">
    <% if person.main_photo && person.main_photo.file_url %>
      <%= image_tag(person.main_photo.file_url, :class => 'card-bkimg') %>
    <% else %>
      <img src="/assets/NoPhotoSqr.png" class="card-bkimg">
    <% end %>
  </div>
  <div class="card-info">
    <span class="card-title fn">
      <%= link_to(person.full_name, person, {:class => "fn url", :property => "rdfs:label foaf:name vcard:fn", :rel => "foaf:homepage vcard:url"}) %><br/>
      <small><%= person.dates %></small>
    </span>
  </div>
</div>
