<% content_for(:page_title) {t '.page_title', :person => @person.full_name} %>
<% content_for(:title) {t '.page_heading', :person => @person.full_name} %>

<div class="row">
  <%= render @person %>
  <div class="col-xl-9 col-md-8 col-sm-6">
    <%= form_for @person do |f| %>
      <fieldset class="form-group row">
        <%= f.label :name, @person.possessive + " name " + @person.existence_word %>
        <%= f.text_field :name %>
        <%= t '.display_name' %> "<%= @person.full_name %>"
      </fieldset>
      <fieldset class="form-group row">
        <%= f.label :aka %>
        <%= f.text_field :aka %>
      </fieldset>
      <fieldset class="form-group row">
        <%= @person.possessive %> surname <%= @person.existence_word %> "<%= @person.surname %>" which <%= f.label :surname_starts_with, "starts with" %> <%= f.text_field :surname_starts_with, :maxlength => 1 %>
      </fieldset>
      <fieldset class="form-group row">
        <%= f.label :gender %>
        <%= f.text_field :gender, :maxlength => 1 %>
      </fieldset>
      <fieldset class="form-group row">
        <%= @person.personal_pronoun %> was <%= f.label :born_on, @person.creation_word %> <%= f.text_field :born_on, {:maxlength => "10"} %> and <%= f.label :died_on, @person.destruction_word %> <%= f.text_field :died_on, {:maxlength => "10"} %>
      </fieldset>
      <fieldset class="form-group row">
        <%= f.label :introduction %>
        <%= f.text_area :introduction, :cols => 80, :rows => 15 %>
      </fieldset>
      <fieldset class="form-group row">
        <%= f.label :wikipedia_url %>
        <%= f.text_field :wikipedia_url %>
        <%= t '.wikipedia_comment' %>
      </fieldset>
      <%= content_tag("p", "Read more about ".html_safe + link_to(@person.name, @person.default_wikipedia_url, :target => '_blank') + " on Wikipedia.".html_safe) unless @person.default_wikipedia_url.blank? %>
      <fieldset class="form-group row">
        <%= f.label :dbpedia_uri %>
        <%= f.text_field :dbpedia_uri %>
      </fieldset>
      <%= f.submit t('buttons.update'), :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<% if !@person.main_photo %>
  <div class="row">
    <div class="col-xs-2">
      <img src="http://upload.wikimedia.org/wikipedia/commons/7/79/Wiki-commons.png"/>
    </div>
    <div class="col-xs-10">
      <p>A great place to donate your image to the world is <a href="http://commons.wikimedia.org/">Wikimedia Commons</a>.
      It is free, fairly easy to use, and your image will live forever (probably) as part of the awesome Wikipedia platform.
      When you are done, paste the page url in here and Open Plaques will link to the photo.</p>
      <p>
        <% @photo = Photo.new %>
        <%= form_for @photo do |f| %>
          <%= f.label(:url, "The Wikimedia photo page url is") %> <%= f.text_field :url %>
          <%= f.hidden_field :person_id, :value => @person.id %>
          <%= f.hidden_field :of_a_plaque, :value => false %>
          <%= submit_tag(t('buttons.save'), :class=> 'btn btn-primary') %>
        <% end %>
      </p>
    </div>
  </div>
<% end %>

<% @person.personal_roles.each do |personal_role| %>
  <div class="row">
    <span class="col-sm-8">
      <%= @person.name %> <%= @person.existence_word %> a <%= dated_role(personal_role).html_safe %> 
      <%= t('.conferring_the_letters') + ' ' + personal_role.role.abbreviation if personal_role.role.used_as_a_suffix? %><%= t('.conferring_the_title') + ' ' + personal_role.role.abbreviation if personal_role.role.used_as_a_prefix? %>
      <%= link_to t('buttons.edit'), edit_personal_role_path(personal_role), :class => 'btn btn-primary' %>
    </span>
    <span class="col-sm-4">
      <%= button_to t('buttons.delete'), personal_role, :method => :delete, :class => 'btn btn-danger' %>
    </span>
  </div>
<% end %>

<div class="row">
  <p><%= t '.features_on' %></p>
</div>
<div class="row">
  <%= render @person.plaques.uniq %>
</div>
<div class="row">
  <p><%= t '.from_which_we_can_establish' %></p>
</div>

<div class="row">
  <%= form_for @personal_role do |f| %>
    <%= @person.name %> <%= @person.existence_word %> a <%= f.collection_select :role, @roles, :id, :full_name %> from <%= f.text_field :started_at %> to <%= f.text_field :ended_at %>
    <%= f.hidden_field :person_id, :value => @person.id %>
    <%= f.submit t('buttons.add'), :class => 'btn btn-primary' %>
  <% end %>
  <span class="col-sm-12">
    <%= link_to(t('.add_a_role'), new_role_path) %>
  </span>
</div>

