<% content_for(:page_title) {t '.page_title'} %>

<div class="panel clearfix">
  <h1><%= t '.page_heading' %></h1>
  <%= form_for(@person) do |f| %>
    <p><%= f.label :name %> <%= f.text_field :name %></p>
    <p><%= f.label :born_on %> <%= text_field_tag :born_on, "", {:maxlength => "4"} %></p>
    <p><%= f.label :died_on %> <%= text_field_tag :died_on, "", {:maxlength => "4"} %></p>
    <%= f.submit t('buttons.save'), :class => 'button' %>
  <% end %>
</div>

