<% content_for(:page_title) {t '.page_title'} %>
<% content_for(:title) {t '.page_heading'} %>
<% content_for(:page_subhead) {t '.page_subhead'} %>

<%= form_for(@person) do |f| %>
  <div class="mb-3">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="mb-3">
    <%= f.label :born_on %>
    <%= f.text_field :born_on, {maxlength: "10", 'aria-describedby' => 'datesHelpBlock'} %>
    <small id="datesHelpBlock" class="form-text text-muted">
      Year-of-birth/death helps the Wikidata automatcher to better find this subject. You may research independently if not on the plaque.
    </small>
  </div>
  <div class="mb-3">
    <%= f.label :died_on %>
    <%= f.text_field :died_on, {maxlength: "10"} %>
  </div>
  <div class="mb-3">
    <%= f.label "primary role" %>
    <%= text_field_tag :role, '', 'aria-describedby' => 'roleHelpBlock' %>
    <small id="roleHelpBlock" class="form-text text-muted">
      Please try to set a primary role ('actor', 'house', etc.) as it stops objects being displayed as people
    </small>
  </div>
  <%= hidden_field_tag :role_id %>
  <%= f.submit t('buttons.save') %>
<% end %>

<script type="text/javascript">
  $(function() {
    $( "#role" ).autocomplete({
      autofocus: true,
      source: function(request, response) {
        $.ajax({
          url: "/roles/autocomplete",
          dataType: "json",
          data: {
            contains: request.term,
            limit: 10
          },
          success: function(data) {
            response($.map(data, function(item) {
              return {
                label: item.name,
                id: item.id
              }
            }));
          }
        });
      },
      select: function(event, ui) {
        $('#role_id').val(ui.item.id);
      }
    });
  });
</script>
