<%= stylesheet_link_tag params[:controller] %>
<% content_for(:page_title) {t '.page_title', :person => @person.name } %>
<% content_for(:title) { } %>
<% content_for(:admin_menu) {navbar_link_to t('buttons.edit'), edit_person_path(@person)} %>
<% content_for(:admin_menu) {navbar_link_to t('buttons.add'), new_person_path} %>

<div class="vcard person" typeof="<%= if (@person.person?) then "foaf:Person" else "foaf:Agent" end %> vcard:VCard" about="#person">
  <div class="card hovercard">
    <% if @person.main_photo %>
      <div class="card-background">
        <%= image_tag(@person.main_photo.thumbnail_url != nil ? @person.main_photo.thumbnail_url : @person.main_photo.file_url, :class => 'card-bkimg') %>
      </div>
      <div class="useravatar">
        <%= image_tag(@person.main_photo. thumbnail_url, :class => 'card-bkimg') %>
      </div>
    <% else %>
      <div class="card-background-no-photo">
      </div>
    <% end %>
    <div class="card-info">
      <span class="card-title fn">
        <%= @person.full_name %><br/>
        <small><%= @person.dates %></small>
      </span>
    </div>
  </div>

  <div class="row">
    <h4 class="col-xs-12"><%= icon('user') if @person.person?%>
    <%= icon('paw') if @person.animal? %>
    <%= icon('users') if @person.group? %>
    <%= icon('building') if @person.place? %>
    <%= icon('map-marker') if @person.thing? %>
    <%= roles_list(@person) %></h4>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <p><%= "Died aged" if (@person.person? || @person.thing? || @person.animal?) && @person.dead? %><%= "Closed aged" if @person.place? && @person.dead? %><%= "Aged" if @person.alive? && @person.age%> <%= @person.age.to_s if @person.age%>
        <%= link_to("Find A Grave", @person.find_a_grave_url) unless @person.find_a_grave_id.blank? %>
      </p>
      <%= simple_format(@person.introduction) if @person.introduction %>
      <%= content_tag("p", link_to(icon('external-link') + "Wikipedia", @person.default_wikipedia_url, :target => '_blank')) unless @person.default_wikipedia_url.blank? %>
    </div>
  </div>

  <% if @person.person? %>
    <h2>Family tree</h2>
    <div class="row">
      <div class="tree">
        <ul>
          <li>
            <%= @person.father ? link_to(@person.father, @person.father) : link_to('father?', '#') %>
            <ul>
              <li>
                <%= link_to(@person) %>
                <% if @person.has_children? %>
                  <ul>
                    <% @person.children.each do |child| %>
                      <li><%= link_to(child, child) %></li>
                    <% end %>
                  </ul>
                <% end %>
              </li>
              <% @person.spouses.each do |spouse| %>
                <li><%= link_to(spouse, spouse) %></li>
              <% end %>
              <% @person.siblings.each do |sibling| %>
                <li><%= link_to(sibling, sibling) %></li>
              <% end %>
            </ul>
          </li>
          <li><%= @person.mother ? link_to(@person.mother, @person.mother) : link_to('mother?', '#') %></li>
        </ul>
      </div>
    </div>
  <% end %>

  <% if @person.group? %>
    <h2>Group</h2>
    <div class="row">
      <div class="tree">
        <ul>
          <li>
            <a href='#'><%= @person.name_and_dates %></a>
            <% if @person.non_family_relationships.size > 0 %>
              <ul>
                <% @person.non_family_relationships.each do |relationship| %>
                  <li><%= link_to(relationship.related_person.name_and_dates, relationship.related_person) %></li>
                <% end %>
              </ul>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="row">
    <% if @person.person? %>
      <% if @person.non_family_relationships.size > 0 %>
        <p>
          <% @person.non_family_relationships.each_with_index do |relationship, index| %>
            <%= relationship.role.name %> of <%= dated_person relationship.related_person %><% if index == @person.non_family_relationships.size - 2 %> and<% elsif index != @person.non_family_relationships.size - 1 %>,<% end %>
          <% end %>
        </p>
      <% end %>
    <% end %>
  </div>

</div>

<% if @person.plaques.size > 0 %>
  <h2>Commemorated on <%= @person.plaques.uniq.size %> <%= 'plaque'.pluralize @person.plaques.uniq.size %></h2>
<% else %>
  <h2><%= t '.not_commemorated'%></h2>
<% end %>

<div class="card-columns">
  <%= render partial: 'plaques/tile', :collection => @person.plaques.uniq, as: :plaque %>
</div>
