<% content_for(:page_title) {t '.page_title', :person => @person.name } %>

<div class="panel">
  <% if current_user && current_user.is_admin? %>
    <section class="admin_panel">
      <%= link_to t('buttons.edit'), edit_person_path(@person), {:class => :edit, :title => t('buttons.edit')} %>
    </section>
  <% end %>

  <div class="vcard person" typeof="<%= if (@person.person?) then "foaf:Person" else "foaf:Agent" end %> vcard:VCard" about="#person">

    <%= content_tag(:p, thumbnail_img(@person)) if @person.main_photo %>
    <h1>
      <%= dated_person(@person, {:links => :none}) %>
      <%= roles_list(@person) %>
    </h1>

    <% if @person.parents.size > 0 %>
      <p><%= 'parent'.pluralize @person.parents.size %>:<%= render @person.parents %></p>
    <% end %>

    <% if @person.spousal_relationships.size > 0 %>
      <p>
        <% @person.spousal_relationships.each_with_index do |relationship, index| %>
          <%= relationship.role.name %> of <%= dated_person relationship.related_person %>
          <% if index == @person.spousal_relationships.size - 2 %>and<% elsif index != @person.spousal_relationships.size - 1 %>,<% end %>
        <% end %>
      </p>
    <% end %>

    <% if @person.children.size > 0 %>
      <p><%= 'child'.pluralize @person.children.size %>:<%= render @person.children %></p>
    <% end %>

    <% if @person.siblings.size > 0 %>
      <p><%= 'sibling'.pluralize @person.siblings.size %>:<%= render @person.siblings %></p>
    <% end %>

    <% if @person.non_family_relationships.size > 0 %>
      <p>
        <% @person.non_family_relationships.each_with_index do |relationship, index| %>
          <%= relationship.role.name %> of <%= dated_person relationship.related_person %><% if index == @person.non_family_relationships.size - 2 %> and<% elsif index != @person.non_family_relationships.size - 1 %>,<% end %>
        <% end %>
      </p>
    <% end %>

    <p><%= "Died aged" if (@person.person? || @person.thing? || @person.animal?) && @person.dead? %><%= "Closed aged" if @person.place? && @person.dead? %><%= "Aged" if @person.alive? && @person.age%> <%= "c." + @person.age.to_s if @person.age%></p>

    <%= simple_format(@person.introduction) if @person.introduction %>

    <%= content_tag("p", "Read more on ".html_safe + link_to("Wikipedia", @person.default_wikipedia_url, :target => '_blank')) unless @person.default_wikipedia_url.blank? %>

    <% if @person.uniq_plaques.size > 0 %>
      <h2>Commemorated on <%= @person.uniq_plaques.size %> <%= 'plaque'.pluralize @person.uniq_plaques.size %></h2>
    <% else %>
      <h2><%= t '.not_commemorated'%></h2>
    <% end %>
    <%= render @person.uniq_plaques %>
  </div>

  <p class="alternate_formats"><%= t 'data_about_thing_as', :thing => @person.type %> <%= alternate_link_to "JSON", person_path(@person, :json), :json %></p>

</div>