<% content_for :page_title, "Unphotographed plaques in " + @country.name %>
<div class="panel clearfix">
  <% if current_user && current_user.is_admin? %>
    <section class="admin_panel">
      <%= link_to("Edit this country", edit_country_path(@country), {:class => :edit, :title => "Edit this country"})%>
    </section>
  <% end %>
  <h1><%= @country.name %> (<%= @display %>)</h1>
  <p>See <%= link_to "all plaques", country_path(@country) %>
  <% if @display!='unphotographed' %>
    or <%= link_to "unphotographed plaques", country_unphotographed_path(@country) %>
  <% end %>  
  <% if current_user && current_user.is_admin? && @display!='ungeolocated' %>
    or <%= link_to "ungeolocated plaques", country_ungeolocated_path(@country) %>
  <% end %>
  </p>
  <% if @country.latitude && @display!='ungeolocated' %>
    <div id="plaque-map" data-latitude="<%= @country.latitude %>" data-longitude="<%= @country.longitude %>" data-view="<%= @display %>"></div>
  <% end %>
  <%= will_paginate @plaques %>
  <%= render @plaques %>
  <%= will_paginate @plaques %>
</div>
