<% content_for(:page_title) {t '.page_title', :letter => @index.upcase} %>
<% content_for(:title) {t '.page_heading', :letter => @index.upcase} %>

<div class="panel clearfix">
  <% if current_user && current_user.is_admin? %>
    <section class="admin_panel">
      <%= link_to t('buttons.add'), new_person_path, {:class => :edit, :title => t('buttons.add')} %>
    </section>
  <% end %>
  <nav class="alphabet">
    <%= content_tag("ol") do %>
      <% for letter in "A".."Z" %>
        <%= content_tag("li", navigation_link_to(letter, people_by_index_path(letter.downcase))) %>
      <% end %>
    <% end %>
  </nav>
</div>

<div class="container" id="people-with-surname-starting-">
  <%= render @people %>
</div>

<p class="alternate_formats"><%= t 'data_about_thing_as' %> <%= alternate_link_to "JSON", people_by_index_path(@index.downcase, :json), :json %></p>