<% content_for(:page_title) {t '.page_title'} %>
<% content_for(:title) {t '.page_heading'} %>
<% content_for(:page_subhead) {pluralize(@organisation_count, "organisation")} %>
<% content_for(:admin_menu) {navbar_link_to t('buttons.add'), new_organisation_path} %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.1/holder.js"></script>

<h2>Top 10</h2>
<div class="row">
  <div id="top10-chart" class="col-8" style="height: 400px;"></div>
</div>

<h2>In alphabetical order</h2>
<%= will_paginate @organisations if @organisations.respond_to?(:total_pages) %>
  <div id="organisation-tiles" class="card-columns">
  <%= render @organisations %>
</div>
<%= will_paginate @organisations if @organisations.respond_to?(:total_pages) %>

<script>
  data = [<% @top_10.each do |organisation| %><%= organisation.sponsorships_count %>,<% end %>];
  hbar = new RGraph.SVG.HBar({
    id: 'top10-chart',
    data: data,
    options: {
      yaxisLabels: [<% @top_10.each do |o| %>'<%= o %>',<% end %>],
      colors: ['blue','red','green','orange','blue','red','green','orange','blue'],
      strokestyle: 'rgba(0,0,0,0)',
      labelsAbove: true,
      vmargin: 15,
      backgroundGrid: false,
      colorsSequential: true,
      xlabels: false,
      gutterLeft: 350,
      gutterRight: 50,
      gutterTop: 25,
      noxaxis: true,
      noxtickmarks: true,
      noytickmarks: true,
    }
  }).grow();

</script>
