<% content_for(:page_title) {t '.page_title'} %>

<div class="panel clearfix">
  <% if current_user && current_user.is_admin? %>
    <section class="admin_panel">
      <%= link_to(t('buttons.add'), new_organisation_path, {:class => :edit, :title => t('buttons.add')})%>
    </section>
  <% end %>
  <h1><%= t '.page_heading' %></h1>
  <p><%= pluralize(@organisations.length, "organisation") %></p>
</div>

<ul id="organisations_results" class="results one_destination_results">
  <% @organisations.each do |organisation| %>
    <li>
      <a href="<%= url_for(organisation) %>">
        <p class="result"><%= organisation.name %></p>
        <p class="count"><%= pluralize(organisation.sponsorships.size, "plaque") if organisation.sponsorships.size > 0 %><%= t('.no_plaques') if organisation.sponsorships.size == 0 %></p>
      </a>
    </li>
  <% end %>
</ul>

<p class="alternate_formats"><%= t 'data_about_things_as' %> <%= alternate_link_to "JSON", organisations_path(:json), :json %></p>