<% content_for(:page_title) {t '.page_title'} %>
<% content_for(:title) {t '.page_heading'} %>

<%= form_for @organisation do |f| %>
  <div class="mb-3">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <small class="text-muted"><%= t '.note_about_name' %></small>
  </div>
  <div class="mb-3">
    <%= f.label :website %>
    <%= f.text_field :website %>
  </div>
  <div class="mb-3">
    <%= f.label :description %>
    <%= f.text_area :description, {rows: "5", cols: "80"} %>
    <small class="text-muted"><%= t '.note_about_description' %></small>
  </div>
  <div class="mb-3">
    <%= f.label :notes %>
    <%= f.text_area :notes, {rows: "5", cols: "80"} %>
    <small class="text-muted"><%= t '.note_about_notes' %></small>
  </div>
  <%= f.submit t('buttons.save') %>
<% end %>
