<% content_for(:page_title) {t '.page_title'} %>

<div class="panel">
  <h1><%= t '.page_heading' %></h1>
  <%= form_for @organisation do |f| %>
    <p><%= f.label :name, t('.name') %> <%= f.text_field :name %> <%= t '.note_about_name' %></p>
    <h2>Optional fields</h2>
    <p><%= f.label :website, t('.website') %> <%= f.text_field :website %></p>
    <p><%= f.label :description, t('.description') %><%= f.text_area :description %> <%= t '.note_about_description' %></p>
    <p><%= f.label :notes, t('.notes') %> <%= f.text_area :notes %> <%= t '.note_about_notes' %></p>
    <p><%= f.submit t('buttons.save'), :class => :button %></p>
  <% end %>
</div>