<% content_for(:page_title) {t '.page_title', :organisation => @organisation.name} %>
<% content_for(:title) {@organisation.name} %>
<% content_for(:page_subhead) {@organisation.description} %>
<% content_for(:admin_menu) {navbar_link_to t('buttons.edit'), edit_organisation_path(@organisation)} %>

<% if @organisation.geolocated? %>
  <div class="row">
    <div id="plaque-map" class="col-xs-12" data-latitude="<%= @organisation.latitude %>" data-longitude="<%= @organisation.longitude %>" data-view="all" context="<%= request.path %>"></div>
  </div>
<% end %>

<div class="row" id="pagination-top">
  <%= will_paginate @sponsorships %>
</div>
<div class="card-columns">
  <%= render @sponsorships %>
</div>
<div class="row" id="pagination-bottom">
  <%= will_paginate @sponsorships %>
</div>
