<% content_for(:page_title) {t '.page_title', :organisation => @organisation.name} %>
<% content_for(:title) { } %>
<% content_for(:admin_menu) {navbar_link_to(t('buttons.edit'), edit_organisation_path(@organisation), {:class => :edit, :title => t('buttons.edit')})} %>

<div class="row">
  <%= render @organisation %>
</div>

<% if @organisation.geolocated? %>
  <div id="plaque-map" data-latitude="<%= @organisation.latitude %>" data-longitude="<%= @organisation.longitude %>" data-view="all" context="<%= request.path %>"></div>
<% end %>

<div class="row" id="pagination-top">
  <%= will_paginate @sponsorships %>
</div>

<div class="row" id="plaques">
  <div class="card-columns">
    <%= render partial: 'plaques/plaque', collection: @sponsorships, as: :plaque %>
  </div>
</div>

<div class="row" id="pagination-bottom">
  <%= will_paginate @sponsorships %>
</div>

<div class="row" id="data">
  <p><%= t 'data_about_thing_as' %> .json and .geojson</p>
</div>