<% content_for(:page_title) {t '.page_title', organisation: @organisation.name} %>
<% content_for(:title) {@organisation.name} %>
<% content_for(:page_subhead) {@organisation.description} %>
<% content_for(:admin_menu) {navbar_link_to t('buttons.edit'), edit_organisation_path(@organisation)} %>

<% if @organisation.geolocated? %>
  <div id="plaque-map" data-latitude="<%= @organisation.latitude %>" data-longitude="<%= @organisation.longitude %>" data-view="all" context="<%= request.path %>"></div>
<% end %>

<%= will_paginate @sponsorships %>
<%= render @sponsorships %>
<%= will_paginate @sponsorships %>
