<% content_for(:page_title) {t '.page_title', :organisation => @organisation.name} %>
<% content_for(:title) {t '.page_heading', :organisation => @organisation.name} %>
<% content_for(:admin_menu) {navbar_link_to(t('buttons.edit'), edit_organisation_path(@organisation), {:class => :edit, :title => t('buttons.edit')})} %>

<div id="organisation_info" typeof="foaf:Organization">
  <%= content_tag("p", link_to(h(@organisation.website),@organisation.website), {:rel => "foaf:homepage vcard:url"}) unless @organisation.website.blank? %>
  <%= simple_format(@organisation.description) if @organisation.description %>
  <% if @organisation.geolocated? %>
    <div id="plaque-map" data-latitude="<%= @organisation.latitude %>" data-longitude="<%= @organisation.longitude %>" data-view="all" context="<%= request.path %>"></div>
  <% end %>
</div>
<div class="container">
  <%= will_paginate @sponsorships %>
  <%= render partial: 'plaques/plaque', collection: @sponsorships, as: :plaque %>
  <%= will_paginate @sponsorships %>
</div>

<div class="alternate_formats"><%= t 'data_about_thing_as' %> .json and .geojson</div>