<% content_for :page_title, "Unphotographed plaques in " + @country.name %>
<h1>Unphotographed plaques in <%= link_to @country.name, country_path(@country) %></h1>

<% unless @plaques.nil? %>
  <div id="plaque-map" data-latitude="<%= @mean.latitude %>" data-longitude="<%= @mean.longitude %>" data-view="not all" data-zoom="6"></div>

  <div class="row">
    <%= will_paginate @plaques %>
  </div>

  <div class="row">
    <%= render @plaques %>
  </div>

  <div class="row">
    <%= will_paginate @plaques %>
  </div>
<% end %>

<div class="row">
  <p><%= t 'data_about_things_as' %> .json and .geojson</p>
</div>