<% content_for(:page_title) {t '.page_title'} %>

<div class="panel">
  <h1><%= t '.page_heading' %></h1>
  <%= form_for @language do |f| %>
    <p><%= f.label :alpha2 %> <%= f.text_field :alpha2 %></p>
    <p><%= f.label :name %> <%= f.text_field :name %></p>
    <p><%= f.submit t('buttons.save'), :class => :button %></p>
  <% end %>
</div>