<% content_for :page_title, t('.forgot_your_password', default: "Forgot your password?") %>
<% content_for :title, t('.forgot_your_password', default: "Forgot your password?") %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	<%= devise_error_messages! %>
	<div class="form-group">
		<%= f.label :email %>
		<%= f.email_field :email, autofocus: true, class: 'form-control' %>
	</div>
	<%= f.submit t('.send_me_reset_password_instructions', default: "Send me reset password instructions"), class: 'btn btn-primary' %>
<% end %>
<%= render partial: 'devise/shared/links' %>
