<nav class="navbar navbar-dark bg-primary">
      <%= link_to("OpenPlaques", root_path, :class => "navbar-brand") %>
      <ul class="nav navbar-nav">
        <%= navbar_link_to("Home",
                           root_path,
                           :active_when => { :controller => :home }) %>
        <%= navbar_link_to(t('menu.about'),
                           about_path,
                           :active_when => {
                             :controller => :static_pages,
                             :action => :about
                           }) %>
        <li><a href="#contact">Contact</a></li>
        <%= navbar_link_to(t('menu.people'), people_path) %>
        <%= navbar_link_to(t('menu.places'), countries_path) %>
        <%= navbar_link_to(t('menu.organisations'), organisations_path) %>
        <%= navbar_link_to(t('menu.photographers'), photographers_path) %>
        <% if current_user && current_user.is_admin? %>
        <!-- admin only -->
        <%= navbar_link_to(t('menu.roles'), roles_path) %>
        <%= navbar_link_to(t('menu.verbs'), verbs_path) %>
        <%= navbar_link_to(t('menu.todo_lists'), "/todo") %>
        <!-- admin only -->
        <% end %>
        <%= navbar_link_to(t('menu.contribute'), contribute_path) %>
      </ul>
      <%= user_menu %>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Log in</a></li>
        <li><a href="#">Register</a></li>
        <li><a href="#">Help</a></li>
      </ul>
      <% if current_user && current_user.is_admin? %>
        <ul class="nav navbar-nav">
          <%= yield :admin_menu %>
        </ul>
      <% end %>
</nav>

