<% content_for :page_title, "Edit description for " + @plaque.title %>
<% content_for :title do %>
  Description of the <%= link_to @plaque.title, @plaque %>
<% end %>
<% content_for :page_subhead do %>
  <p>Enter any additional interesting information about the plaque and links to articles about it to be displayed on the plaque detail page.</p>
  <p>Articles can be linked using the format [name of link](https://....)</p>
<% end %>
<%= render 'plaques/edit_bar', plaque: @plaque %>

<%= form_for @plaque do |f| %>
  <div class="form-group">
    <%= f.text_area :description, {class: 'form-control', rows: 6, autofocus: true} %>
  </div>
  <%= f.submit t('buttons.save'), class: 'btn btn-primary' %>
<% end %>
