 <div class="inside_panel">
   <%= render personal_connection.person %>
   <%= personal_connection.verb.name %>
   <%= "at " + personal_connection.full_address if personal_connection.full_address %> 
   <%= "from " + personal_connection.from if personal_connection.from != '' %><%= " to " + personal_connection.to  if personal_connection.to != ''%>
 </div>