 <div>
   <%= link_to personal_connection.person.name, person_path(personal_connection.person) if personal_connection.person %> <%= personal_connection.verb.name if personal_connection.verb %>
   <%= "at " + personal_connection.location.full_address if personal_connection.location %>
   <%= "from " + personal_connection.started_at.year.to_s if personal_connection.started_at %><%= " to " + personal_connection.ended_at.year.to_s if personal_connection.ended_at %>
 </div>