 <div class="card" style="width: 20rem;">
  <div class="card-block">
    <%= render personal_connection.person %>
    <p class="card-text">
      <%= link_to personal_connection.person.full_name, personal_connection.person %>
      <%= personal_connection.verb.name %>
      <%= "at " + personal_connection.full_address if personal_connection.full_address %> 
      <%= "from " + personal_connection.from if personal_connection.from != '' %><%= " to " + personal_connection.to  if personal_connection.to != ''%>
    </p>
  </div>
 </div>