<% content_for(:page_title) {t '.page_title', plaque: @plaque.id.to_s } %>
<% content_for(:title) do %>
  <%= linked_inscription @plaque %>
  <% unless @plaque.inscription_in_english.blank? %>
    <br/><br/><%= t '.english_translation' %>: "<%= @plaque.inscription_in_english %>"
  <% end %>
<% end %>
<%= render 'plaques/edit_bar', plaque: @plaque %>

<style>
// CardColumns
@media (min-width: 34em) {
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media (min-width: 48em) {
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
@media (min-width: 62em) {
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
@media (min-width: 75em) {
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
</style>

<% if @plaque.personal_connections.count > 0 %>
  <h2>Connections</h2>
<% end %>

<% if @plaque.personal_connections.count < 11 %>
  <div class="row">
    <% @plaque.personal_connections.all.each do |connection| %>
      <div class="xcol-xs-4 xcol-sm-4 col-md-4">
        <%= render connection.person %>
        <p>
          <%= connection.verb.name %>
          here
          <% if connection.single_year? %>
            <%= "in " + connection.from if connection.from != '' %>
          <% else %>
            <%= "from " + connection.from if connection.from != '' %><%= " to " + connection.to  if connection.to != ''%>
          <% end %>
        </p>
        <%= button_to(t('buttons.unlink'), plaque_connection_path(@plaque, connection), method: :delete, class: 'btn btn-danger') %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="card-columns">
    <% @plaque.personal_connections.all.each do |connection| %>
      <div class="card">
        <%= render connection.person %>
        <p class="card-text">
          <%= connection.verb.name %>
          here
          <% if connection.single_year? %>
            <%= "in " + connection.from if connection.from != '' %>
          <% else %>
            <%= "from " + connection.from if connection.from != '' %><%= " to " + connection.to  if connection.to != ''%>
          <% end %>
        </p>
        <%= button_to(t('buttons.unlink'), plaque_connection_path(@plaque, connection), method: :delete, class: 'btn btn-danger') %>
      </div>
    <% end %>
  </div>
<% end %>

<% if @entities && @entities != [] %>
  <h2>AWS suggests...</h2>
  <% for entity in @entities %>
    <div>
    <% if ['PERSON', 'ORGANIZATION'].include?(entity.type) %>
      <%= icon('user') if entity.type == 'PERSON' %>
      <%= icon('building') if entity.type == 'ORGANIZATION' %>
      <%= entity.text %>
      <span class="badge badge-success"><%= (entity.score * 100).round(1) %>%</span>
    <% end %>
    </div>
  <% end %>
<% end %>

<div id="person-tiles" class="card-columns">
  <% for person in @suggested_people %>
    <%= render partial: 'people/tile', object: person, as: :person  %>
  <% end %>
</div>

<h2><%= t '.page_heading' %></h2>
<%= form_for @personal_connection, url: plaque_connections_path(@plaque) do |f| %>
  <p><%= t '.from_which_we_can_establish' %></p>
  <div class="form-group">
    <%= text_field_tag :person_name, "", {class: 'form-control', placeholder: "John Smith"} %>
    <%= f.hidden_field :person_id %>
    <%= link_to(icon('user') + t('.new_person'), "/people/new") %>
  </div>

  <% if @common_verbs %>
    <div>
      <% @common_verbs.each do |verb| %>
        <div class="row radio">
          <%= f.radio_button :verb_id, verb.id %>
          <%= f.label "verb_id_" + verb.id.to_s, verb.name, class: verb.name.downcase %>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.collection_select :verb_id, @verbs, :id, :name, {selected: "222"}, {class: 'form-control', style: "width:400px" } %>
    <%= link_to(t('.new_verb'), "/verbs/new") %>
  </div>
  <% if @personal_connection.full_address %>
    <div class="form-group">
      <%= "#{t('.at')} #{@personal_connection.full_address}" %>
    </div>
  <% end %>
  <div class="form-group row">
    <%= f.label :started_at, class: 'col-form-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.text_field :started_at, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :ended_at, class: 'col-form-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.text_field :ended_at, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= t '.reminder' %>
  </div>
  <%= f.submit t('buttons.add'), class: 'btn btn-primary' %>
<% end %>

<script type="text/javascript">
  $(function() {
    $('#person_name').autocomplete({
      autofocus: true,
      source: function(request, response) {
        $.ajax({
          url: '/people/autocomplete',
          dataType: 'json',
          data: {
            contains: request.term,
            limit: 10
          },
          success: function(data) {
            response($.map(data, function(item) {
              return {
                label: item.name_and_dates,
                id: item.id,
                type: item.type
              }
            }));
          }
        });
      },
      select: function(event, ui) {
        console.log(ui.item)
        $('#personal_connection_person_id').val(ui.item.id);
        if (ui.item.type == 'thing' || ui.item.type == 'place' || ui.item.type == 'place' || ui.item.type == 'group') {
          $('#personal_connection_verb_id').val('362')
        }
      }
    });
  });
</script>
