<% content_for(:page_title) {t '.page_title', :plaque => @plaque.id.to_s } %>

<%= render 'plaques/edit_bar', :plaque => @plaque %>
<div class="panel">
  <h1><%= t '.page_heading' %></h1>
  <%= render @plaque %>
  <p><%= t '.from_which_we_can_establish' %></p>
  <% @plaque.personal_connections.all.each do |personal_connection| %>
    <div class="inside_panel">
      <%= render personal_connection %>
      <%= link_to t('buttons.edit'), edit_plaque_connection_path(@plaque,personal_connection) %> <%= button_to(t('buttons.delete'), plaque_connection_path(@plaque,personal_connection), :method => :delete, :class => :button)%>
    </div>
  <% end %>
  <% if @plaque.personal_connections.size == 0 %>
    <div class="inside_panel"><%= t '.nothing_yet' %></div>
  <% end %>
  <%= form_for @personal_connection, :url => plaque_connections_path(@plaque) do |f| %>
    <fieldset>
      <div class="row">
        <%= f.collection_select :person_id, @people, :id, :name_and_raw_dates, {} , { "style" => "width:400px" } %> <%= link_to(t('.new_person'), "/people/new") %>
      </div>
      <% if @common_verbs %>
        <%= fieldset do %>
          <% @common_verbs.each do |verb| %>
            <div class="row radio">
              <%= f.radio_button :verb_id, verb.id %>
              <%= f.label "verb_id_" + verb.id.to_s, verb.name, :class => verb.name.downcase %>
            </div>
          <% end %>
        <% end %>
      <% end %>
      <div class="row"><%= f.collection_select :verb_id, @verbs, :id, :name, { :selected => "222"}, { "style" => "width:400px" } %>  <%= link_to(t('.new_verb'), "/verbs/new") %></div>
      <div class="row"><%= t '.at' %> <%= @plaque.full_address %></div>
      <div class="row"><%= f.label :started_at, t('.from') %> <%= f.text_field :started_at %></div>
      <div class="row"><%= f.label :ended_at, t('.to') %> <%= f.text_field :ended_at %></div>
    </fieldset>
    <%= f.submit t('buttons.add'), :class => :button %>
  <% end %>
</div>