<div class="card">
    <h2 class="card-header"><%=t '.contribute' %></h2>
    <div class="card-block">
        <div class="card-text"><%=t '.mission' %>
            <ul>
                <li><%=t '.contribute1' %>
                    <%= link_to t('.add_a_plaque'), new_plaque_path %></li>
                <li><%=t '.take_a_photo' %></li>
                <li><%=t '.spot_an_innaccuracy' %></li>
            </ul>
        </div>
        <div class="text-center">
          <%= link_to "Read more", page_path(:contribute), class: "btn btn-primary" %>
        </div>
    </div>
</div>
