<% content_for(:page_title) {t '.page_title'} %>
<% content_for(:title) {t '.strapline_html'} %>
<% content_for(:page_subhead) {} %>
<% content_for(:admin_menu) {navbar_link_to(t('.pages'), pages_path, {:class => :edit, :title => t('.pages')})} %>

<div class="row">
  <div class="col-md-4">
    <h2><%=t '.explore' %></h2>
    <p>Browse the <%= @plaques_count %> plaques by <%= link_to "person", people_path %>, <%= link_to "place", countries_path %>, or <%= link_to "search", search_path %>.</p>
  </div>
  <div class="col-md-4">
    <h2><%=t '.contribute' %></h2>
    <p><%=t '.mission' %></p>
    <ul>
      <li><%=t '.contribute1' %> <%= link_to t('.add_a_plaque'), new_plaque_path %></li>
      <li><%=t '.take_a_photo' %></li>
      <li><%=t '.spot_an_innaccuracy' %></li>
      <% if current_user && current_user.is_admin? %>
        <li><%=t '.find_something' %> <%= link_to(t('.to_do'), "/todo", {:class => :edit, :title => t('.to_do')})%></li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-4">
    <h2><%=t '.news' %></h2>
    <p><%=t '.news_detail_html' %></p>
  </div>
  <div class="col-md-4">
    <div class="like_button">
      <iframe src="http://www.facebook.com/plugins/like.php?href=https://www.facebook.com/OpenPlaques&amp;layout=button_count&amp;show_faces=false&amp;width=90&amp;action=like&amp;font&amp;colorscheme=light&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:75px; height:20px; text-align:right;" allowTransparency="true"></iframe>
    </div>
    <%= t '.like_us_on_Facebook' %>
  </div>
</div>

<% if @todays %>
  <h2><%= t '.plaque_of_the_day' %></h2>
  <%= render 'picks/plaque_of_the_day', :pick => @todays %>
<% end %>

<% if @recent_plaques %>
  <h2><%= t '.recently_photographed' %></h2>
  <div class="card-columns">
    <%= render partial: 'plaques/tile', :collection => @recent_plaques, as: :plaque %>
  </div>
<% end %>
