<% content_for(:title, "Open Plaques - linking historical people and places") %>

    <div class="jumbotron">
      <div class="container">
        <h1>What are we?</h1>
        <p>Documenting the historical links between <strong>people</strong> and <strong>places</strong>, as recorded by commemorative <strong>plaques</strong>.</p>
        <p>You are all part of our mission to find all of the plaques in the world!</p>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2><%=t :explore %></h2>
          <p>Browse the <%= @plaques_count %> plaques by <%= link_to "person", people_path %></p>
        </div>
        <div class="col-md-4">
          <h2><%=t :contribute %></h2>
          <p>Spot a plaque. Help us by <%= link_to "adding it", new_plaque_path %> to the site.</p>
          <p>Take a photo. Add it to Flickr or Wikimedia Commons and link it to our record</p>
          <p>Spot an innaccuracy. Tell us.</p>
            <p>Or find something <%= link_to("Todo", "/todo", {:class => :edit, :title => "Todos"})%></p>

        </div>
        <div class="col-md-4">
          <h2><%=t :news %></h2>
          <p>Subscribe to <a href="http://blog.openplaques.org">our blog</a>, follow us on <a href="http://www.twitter.com/openplaques">Twitter</a> for updates.</p>
        </div>
        <div class="col-md-4">
          <div class="like_button">
            <iframe src="http://www.facebook.com/plugins/like.php?href=https://www.facebook.com/OpenPlaques&amp;layout=button_count&amp;show_faces=false&amp;width=90&amp;action=like&amp;font&amp;colorscheme=light&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:75px; height:20px; text-align:right;" allowTransparency="true"></iframe> us on Facebook for features and trivia.
          </div>
        </div>
      </div>
    </div>