<% content_for(:page_title) {t '.page_title', organisation: @organisation.name } %>
<% content_for(:admin_menu) {navbar_link_to t('buttons.add'), new_person_path} %>

<div class="jumbotron">
  <h1>
    <%= link_to(@organisation.name, organisation_path(@organisation)) %>
    <%= t '.page_heading' %>
  </h1>
  <p>
    <%= @curated_count %> out of <%= @plaques_count %>
    (<%= @percentage_curated %>%)
    plaques have been curated
  </p>
  <span class="badge badge-secondary pull-right"><%= @subject_count %></span>
</div>

<h2>Diversity</h2>
<div class="row">
  <div id="gender-chart" class="col-8" style="height: 400px;"></div>
</div>

<script>
  pie = new RGraph.SVG.Pie({
    id: 'gender-chart',
    data: [<% @gender.each do |g| %><%= g.subject_count %>,<% end %>],
    options: {
      radius: 150,
      colors: [
        'rgb(51,102,204)',
        'rgb(220,57,18)',
        'rgb(255,153,0)',
        'rgb(16,150,24)',
        'rgb(153,0,153)',
        'rgb(0,153,198)',
        'rgb(221,68,119)'
      ],
      linewidth: 2,
      shadow: false,
      labels: [<% @gender.each do |g| %>"<%= g.gender %> <%= g.subject_count %> (<%= (100 * g.subject_count / @subject_count.to_f).to_i %>%)",<% end %>],
      labelsSticksList: true,
      textFont: 'Arial',
      textSize: 16,
      textAccessible: true
    }
  }).draw();
</script>

<%= will_paginate @people if @people.respond_to?(:total_pages) %>
<%= render partial: 'people/tiles' %>
<%= will_paginate @people if @people.respond_to?(:total_pages) %>
