<% content_for(:page_title) {t '.page_title', organisation: @organisation.name } %>
<% content_for(:admin_menu) {navbar_link_to t('buttons.add'), new_person_path} %>

<div class="jumbotron">
  <h1>
    <%= link_to(@organisation.name, organisation_path(@organisation)) %>
    <%= t '.page_heading' %>
  </h1>
  <p>
    <%= @curated_count %> out of <%= @plaques_count %>
    (<%= @percentage_curated %>%)
    plaques have been curated
  </p>
  <%= render partial: 'people/badge' %>
</div>

<%= render partial: 'people/diversity' %>
<%= render partial: 'people/tiles' %>
