<% content_for(:page_title) {t '.page_title', page: @page.name} %>
<% content_for(:title) {t '.page_heading', page: @page.name} %>

<%= form_for @page, url: "/pages/" + @page.slug do |f| %>
  <div class="mb-3">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="mb-3">
    <%= f.label :slug %>
    <%= f.text_field :slug %>
  </div>
  <div class="mb-3">
    <%= f.label :strapline %>
    <%= f.text_field :strapline %>
  </div>
  <div class="mb-3">
    <%= f.text_area :body, {rows: '40', cols: '80'} %>
  </div>
  <%= f.submit t('buttons.save') %>
<% end %>
