<% content_for(:page_title) {t '.page_title'} %>

<div class="panel">
  <h1><%= t '.page_heading' %></h1>
  <%= form_for @page do |f| %>
    <p><%= f.label :name, t('.name') %> <%= f.text_field :name %></p>
    <p><%= f.label :slug, t('.slug') %> <%= f.text_field :slug %></p>
    <%= f.text_area :body, {:rows => "40", :cols => "160"} %>
    <%= f.submit t('buttons.save'), :class => :button %>
  <% end %>
</div>