<% content_for(:page_title) {t '.page_title'} %>
<% content_for(:title) {t '.page_heading'} %>

<%= form_for @page do |f| %>
  <div class="form-group row">
    <%= f.label :name, class: 'form-control-label col-sm-2' %>
    <div class="col-sm-10">
    <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :slug, class: 'form-control-label col-sm-2' %>
    <div class="col-sm-10">
    <%= f.text_field :slug, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :strapline, class: 'form-control-label col-sm-2' %>
    <div class="col-sm-10">
    <%= f.text_field :strapline, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-12">
    <%= f.text_area :body, {rows: "40", cols: "80", class: 'form-control'} %>
    </div>
  </div>
  <%= f.submit t('buttons.save'), class: 'btn btn-primary' %>
<% end %>
