<% content_for :page_title, "Geocoding " + @plaque.title %>
<% content_for :title, "Where is this plaque?" %>
<% content_for :page_subhead, t('.page_subhead') %>
<%= render 'plaques/edit_bar', plaque: @plaque %>

<%= form_for @plaque do |f| %>
  <% if current_user %>
    <p><%= label_tag(:address) %> <%= f.text_field(:address, size: 100) %> <a href="https://maps.google.com/maps?q=<%= @plaque.full_address %>&z=18" target="_new">on Google Maps</a></p>
    <p><%= f.label :area_id, "It's in" %> <%= f.collection_select :area_id, @areas, :id, :full_name, {include_blank: true} %></p>
  <% else %>
    <p>Find the address '<%= @plaque.full_address %>' <a href="https://maps.google.com/maps?q=<%= @plaque.full_address %>&z=18" target="_new">on Google Maps</a></p>
  <% end %>
  <div class="edit_lat_long">
    <p><%= label_tag(:streetview_url, "OpenStreetMap/Google/Geohack url:") %> <%= text_field_tag(:streetview_url, ' ', size: 100) %></p>
    <p>
      <%= f.label :latitude %> <%= f.text_field :latitude, readonly: !current_user %>
      <%= f.label :longitude %> <%= f.text_field :longitude, readonly: !current_user %> <a href="https://maps.google.com/maps?q=<%= @plaque.latitude %>,<%= @plaque.longitude %>&z=18" target="_new">on Google Maps</a>
    </p>
    <p>I am certain that this location is accurate <%= f.check_box :is_accurate_geolocation %> because it was located from a geocoded photo, or I have seen this plaque in Google Streetview/real life </p>
    <p><%= f.submit "Update", class: :button  %></p>
  </div>
  <p>Of course, a photo will give you the position where the photographer was standing and Google Streetview where the cameracar was. You can drag and drop the blue dot to refine the position.</p>
  <div id="map" style="height: 400px; width: 100%; margin-top: 15px;"></div>
  <script>
    var map = null;
    var lat_element = null;
    var lon_element = null;
    var geolocation = new L.LatLng(52, 0);
    var view = 5;

    document.addEventListener("DOMContentLoaded", function() {
    	lat_element = document.getElementById('plaque_latitude');
    	lon_element = document.getElementById('plaque_longitude');

    	lat_element.addEventListener('blur', update_map);
    	lon_element.addEventListener('blur', update_map);

    	update_geolocation_from_text_fields();

    	var plaque_icon = new L.DivIcon({ className: 'plaque-marker', html: '', iconSize : 16 });

    	map = L.map('map').setView(geolocation, view);
      map.scrollWheelZoom.disable();

      var basemap = L.tileLayer('https://maps.tilehosting.com/styles/basic/{z}/{x}/{y}.png?key=qSorA16cJhhBZEhqDisF', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openmaptiles.org/">OpenMapTiles</a> &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap contributors</a>'
      });
      map.addLayer(basemap);

			marker = L.marker(geolocation, {draggable: true, icon: plaque_icon});
			marker.on('dragend', update_text_fields_from_marker);
			marker.addTo(map);

			function update_geolocation_from_text_fields() {
				if (lat_element && lat_element.value != '' && lon_element && lon_element.value != '') {
					geolocation.lat = lat_element.value;
					geolocation.lng = lon_element.value;
					view = 18;
				}
			}

		 function update_map() {
			 update_geolocation_from_text_fields();
			 marker.setLatLng(geolocation);
			 map.setView(geolocation, view);
		 }

		 function update_text_fields_from_marker() {
			 lat_element.value = marker.getLatLng().lat;
			 lon_element.value = marker.getLatLng().lng;
		 }

		});
	</script>
<% end %>
