<% content_for(:page_title) {t '.page_title'} %>
<% content_for(:title) {t '.page_heading'} %>
<% content_for(:page_subhead) {t '.page_subhead'} %>

<canvas id="myCanvas" width="1000" height="1000">
  <div class="row">
    <%= render @licences %>
  </div>
</canvas>

<script>
  window.onload = function ()
  {
    var data = [<% @licences.each_with_index do |licence, idx| %><% if idx < 50 %><%= licence.photos.count %>,<% end %><% end %>];
    var hbar = new RGraph.HBar('myCanvas', data);
    hbar.Set('chart.labels', [<% @licences.each_with_index do |licence, idx| %><% if idx < 50 %>'<%= licence.abbreviation %>',<% end %><% end %>]);
    hbar.Set('chart.colors', [<% (40..200).step(50).each do |b| %><% (40..200).step(50).each do |g| %><% (40..200).step(50).each do |r| %>'rgb(<%= r %>,<%= g %>,<%= b %>)', <% end %><% end %><% end %>]);
    hbar.Set('chart.strokestyle', 'rgba(0,0,0,0)');
    hbar.Set('chart.labels.above', true);
    hbar.Set('chart.labels.above', true);
    hbar.Set('chart.vmargin', 15);
    hbar.Set('chart.background.grid', false);
    hbar.Set('chart.colors.sequential', true);
    hbar.Set('chart.xlabels', false);
    hbar.Set('chart.gutter.left', 150);
    hbar.Set('chart.gutter.right', 50);
    hbar.Set('chart.gutter.top', 25);
    hbar.Set('chart.noxaxis', true);
    hbar.Set('chart.noxtickmarks', true);
    hbar.Set('chart.noytickmarks', true);
    RGraph.isOld() ? hbar.Draw() : RGraph.Effects.HBar.Grow(hbar);
  }
</script>
