<% content_for :page_title, t('.page_title') + @plaque.id.to_s %>
<% content_for :title do %>
  What does the <%= link_to @plaque.title, @plaque %> say?
<% end %>
<% content_for :page_subhead do %>
  <%= t '.page_subhead' %>
  <% if url_for(only_path: false).include?('microtask') %>
    <%= button_to "Not sure. Give me another one", todo_path('microtask'), method: :get, class: :button %>
  <% end %>
<% end %>
<%= render 'plaques/edit_bar', plaque: @plaque %>

<%= form_for @plaque do |f| %>
  <div class="form-group">
    <%= f.label :language_id, t('.language') %>
    <%= f.collection_select :language_id, @languages, :id, :name, {class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.label :inscription, t('.the_words') %>
    <%= f.text_area :inscription, {class: 'form-control', rows: 6, placeholder: t('.placeholder'), autofocus: true} %>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <%= f.check_box :inscription_is_stub, class: 'form-check-input' %>
      <%= t('.exact_wording') %>
    </label>
  </div>
  <div class="form-group">
    <%= f.label :inscription_in_english, t('.inscription_in_english') %>
    <%= f.text_area :inscription_in_english, {class: 'form-control', rows: 6} %>
  </div>
  <%= f.submit t('buttons.save'), class: 'btn btn-primary' %>
<% end %>
