<% content_for(:page_title) { t('.page_title', area: "#{@area.name}, #{@area.country.name}") } %>
<% content_for(:title) { t('.page_title', area: "#{@area.name}, #{@area.country.name}") } %>

<%= form_for @area, url: { action: "update" } do |f| %>
  <div class="mb-3">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="mb-3">
    <%= f.label :slug %>
    <%= f.text_field :slug %>
    <small class="text-muted"><%= t 'must_be_underscored' %></small>
  </div>
  <div class="mb-3">
    <%= f.label :country_id %>
    <%= f.collection_select :country_id, @countries, :id, :name, {}, { class: 'form-select' } %>
  </div>
  <%= render 'geolocate', {f: f, object: @area, q: "#{@area.name}, #{@area.country.name}"} %>
  <%= f.submit t('buttons.update') %>
<% end %>
<br/>
<% if @area.plaques.geolocated.size > 0 %>
  <%= button_to 'geolocate from plaques', controller: :areas, action: :geolocate, id: @area %>
<% end %>
<br/>
<%= button_delete(country_area_path(@area.country, @area)) %>
