<% content_for(:page_title) {t '.page_title_unphotographed', :area => @area.name + ", " + @area.country.name } %>
<% content_for(:title) { render @area } %>
<% content_for(:admin_menu) {navbar_link_to t('buttons.edit'), edit_area_path(@area), {:class => :edit, :title => t('buttons.edit')}} %>

<div class="row">
  <h2>location</h2>
  <p>This area is centred on the geographical point [<%= @area.longitude %>, <%= @area.latitude %>]</p>
</div>

<div class="row">
  <h2><%= @area.plaques_count %> plaques</h2>
  <p><%= link_to 'plaques', area_plaques_path(@area) %></p>
</div>

<div class="container-fluid">
  <div class="card-columns">
    <h2><%= pluralize(@area.people.count, 'person') %></h2>
    <%= render :partial => 'people/tile', :collection => @area.people, as: :person %>
  </div>
</div>

<div class="row">
  <p><%= t 'data_about_thing_as' %> .json and .geojson</p>
</div>