<% content_for(:page_title) {'Edit role: ' + @personal_role.person.full_name + (@personal_role.role ? ' was a ' + @personal_role.role&.name : '')} %>
<% content_for(:title) do %>
  <%= link_to @personal_role.person.full_name, @personal_role.person %> was <%= 'best known as' if @personal_role.primary? %> <%= a_or_an(@personal_role.role&.name) %>
<% end %>

<%= form_for @personal_role do |f| %>
  <% if @personal_role.role&.relationship? %>
    <div class="mb-3">
      <span class="form-label">of</span>
      <div class="col-sm-10">
        <%= f.text_field :related_person %>
        <%= f.hidden_field :related_person_id %>
        <%= link_to(icon(:fas, :user) + t('.new_person'), "/people/new") %>
      </div>
    </div>
  <% end %>
  <div class="mb-3">
    <%= f.label :started_at %>
    <%= f.text_field :started_at %>
  </div>
  <div class="mb-3">
    <%= f.label :ended_at %>
    <%= f.text_field :ended_at %>
  </div>
  <div class="mb-3">
    <%= f.label :ordinal %>
    <%= f.text_field :ordinal %>
  </div>
  <div class="mb-3">
    <%= f.label :primary %>
    <%= f.check_box :primary %>
  </div>
  <%= f.submit t('buttons.update') %>
<% end %>

<script type="text/javascript">
  $(function() {
    $( "#personal_role_related_person" ).autocomplete({
      autofocus: true,
      source: function(request, response) {
        $.ajax({
          url: "/people/autocomplete",
          dataType: "json",
          data: {
            contains: request.term,
            limit: 10
          },
          success: function(data) {
            response($.map(data, function(item) {
              return {
                label: item.name_and_dates,
                id: item.id
              }
            }));
          }
        });
      },
      select: function(event, ui) {
        $('#personal_role_related_person_id').val(ui.item.id);
      }
    });
  });
</script>
