<% content_for :page_title, t('.sign_in', default: "Sign in") %>
<% content_for :title, nil %>

<style>
body {
  background-color: #eee;
}
</style>

<div class="row">
	<div class="col-xs-0 col-sm-2 col-md-4"></div>
	<div class="col-xs-12 col-sm-8 col-md-4">
	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		<h2 class="form-signin-heading">Please sign in</h2>
			<%= f.label :email, class: 'sr-only' %>
			<%= f.email_field :email, autofocus: true, required: true, class: 'form-control'  %>
			<%= f.label :password, class: 'sr-only' %>
			<%= f.password_field :password, class: 'form-control'  %>
		<% if devise_mapping.rememberable? -%>
	  	<div class="checkbox">
			  <label>
					<%= f.check_box :remember_me %> <%= t('.remember_me', default: "Remember me") %>
				</label>
			</div>
		<% end %>
		<%= f.submit t('.sign_in', default: "Sign in"), class: 'btn btn-primary btn-block' %>
	<% end %>
	<%= render partial: 'devise/shared/links' %>
	</div>
	<div class="col-xs-0 col-sm-2 col-md-4"></div>
</div>
