

<table class="section_details" cellspacing="0" summary="Plaque details for #<%= plaque.id %>">
  <% if !plaque.is_accurate_geolocation %>
    <tr>
      <th>Map accuracy</th>
      <td>This is an approximate position</td>
    </tr>
  <% end %>
  <tr>
    <th><% if plaque.erected? %>Erected<% else %>To be erected<% end %></th>
    <td>
      <%= erected_information plaque %>
      <% if plaque.series %>as <% if plaque.series_ref? %>#<%= content_tag(:span, plaque.series_ref )%><% else %>part<% end %> of the <%= link_to plaque.series.name, plaque.series %> series<% end %>
    </td>
  </tr>
  <tr>
    <th>Language</th>
    <td><%= plaque.language.try(:name) %></td>
  </tr>
  <tr>
    <th>Colour</th>
    <td>
      <%= render plaque.colour if plaque.colour %>
	    <% if !plaque.colour %>
        <% @colours = Colour.all %>
        <%= form_for plaque do |f| %>
          <%= f.label :colour_id, "This plaque is" %>
          <%= f.collection_select :colour_id, @colours, :id, :name, {:include_blank => true} %>
          <%= f.submit "Save", :class => :button %>
        <% end %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>Address</th>
    <td><%= plaque.address %>, <%= render plaque.area if plaque.area %><br/><% if plaque.roughly_geolocated? %>
	     [<%= link_to "geolocate this address", edit_plaque_geolocation_path(plaque), {:class => :edit, :title => "Geolocate"} %>]
	   <% end %>
	  </td>
  </tr>
  <tr>
    <th><%= pluralize_word(plaque.people.size, "Subject") %></th>
    <td>
      <%= render plaque.people %>
      <%= 'None identified yet' if plaque.people.size == 0 %>
    </td>
  </tr>
  <tr>
    <th>Machine tag</th>
    <td><%= plaque.machine_tag %></td>
  </tr>
  <tr>
    <th>Wikimedia tag</th>
    <td><%= plaque.wikimedia_tag %> <%= button_tag "copy", id: 'copy-wikimedia-tag', type: 'button', :class => :button %></td>
  </tr>

  <script>
    function copyTextToClipboard(text) {
      var textArea = document.createElement("textarea");
      // Place in top-left corner of screen regardless of scroll position.
      textArea.style.position = 'fixed';
      textArea.style.top = 0;
      textArea.style.left = 0;
      // Ensure it has a small width and height. Setting to 1px / 1em
      // doesn't work as this gives a negative w/h on some browsers.
      textArea.style.width = '2em';
      textArea.style.height = '2em';
      // We don't need padding, reducing the size if it does flash render.
      textArea.style.padding = 0;
      // Clean up any borders.
      textArea.style.border = 'none';
      textArea.style.outline = 'none';
      textArea.style.boxShadow = 'none';
      // Avoid flash of white box if rendered for any reason.
      textArea.style.background = 'transparent';
      textArea.value = text;
      document.body.appendChild(textArea);
      textArea.select();
      try {
        var successful = document.execCommand('copy');
        var msg = successful ? 'successful' : 'unsuccessful';
        console.log('Copying text command was ' + msg);
      } catch (err) {
        console.log('Oops, unable to copy');
      }

      document.body.removeChild(textArea);
    }

    var copyWikimediaTagBtn = document.querySelector('#copy-wikimedia-tag');

    copyWikimediaTagBtn.addEventListener('click', function(event) {
      copyTextToClipboard('<%= plaque.wikimedia_tag %>');
    });

  </script>

  <% if !plaque.is_current %>
    <tr>
      <th>Not found</th>
      <td>As far as we know, it is not currently on display</td>
    </tr>
  <% end %>
  <% if !plaque.see_also.empty? %>
    <tr>
      <th>See also...</th>
      <td><%= render partial: 'plaques/tile', collection: plaque.see_also, as: :plaque %></td>
    </tr>
  <% end %>   
</table>