<% begin %>
  <% if plaque.inscription %><% end %>
<% rescue %>
  <% plaque = plaque.plaque %>
<% end %>
<% if plaque %>

<% if controller.controller_name.eql?('plaques') && controller.action_name.eql?('show')%>
<div class="card" id="plaque-<%= plaque.id %>" >
<% else %>
<div class="card" id="plaque-<%= plaque.id %>" style="width: 26rem;">
<% end %>

  <% if plaque.main_photo %>
    <% if plaque.main_photo.file_url %>
      <%= link_to image_tag(plaque.main_photo.file_url, {:class => 'card-img-top img-responsive', :width => '400rem' }) , plaque_path(plaque) %>
    <% else %>
      <%= link_to image_tag('NoPhotoSqr.png', {:class => 'card-img-top img-responsive', :width => '300rem'}), plaque_path(plaque) %>
    <% end %>
  <% else %>
    <%= link_to image_tag('NoPhotoSqr.png', {:class => 'card-img-top img-responsive', :width => '300rem'}), plaque_path(plaque) %>
  <% end %>

  <div class="card-block">
    <h7 class="card-title">
      <% if plaque.inscription.length > 150 %>
        <%= new_linked_inscription(plaque) %>
      <% else %>
        <%= new_linked_inscription(plaque) %>
      <% end %>
    </h7>   
    <% if plaque.foreign? && plaque.inscription_in_english %>
      <p id="inscription-in-english" class="card-text"><small><%= plaque.inscription_in_english %></small></p>
    <% end %>
    <p class="card-text" id="plaque-<%= plaque.id %>-address">
      <small>
        <%= plaque.address %>, <%= link_to(plaque.area.name, area_path(plaque.area)) if plaque.area %>, <%= plaque.area.country.name if plaque.area %><% if @person %> where <%= @person.personal_pronoun %> <%= verbs(@person,plaque).to_sentence.html_safe %><% end %><% '. As far as we know, it is not currently on display.' if !plaque.is_current %>
      </small>
    </p>
  </div>

  <% if plaque.series %>
    <div class="card-footer">
      <div class="card-text">
        <small class="text-muted">
          <% if plaque.series_ref? %>#<%= plaque.series_ref %> <% end %><%= link_to plaque.series.name, plaque.series %>
        </small>
      </div>
    </div>
  <% end %>
  
  <% if !controller.controller_name.eql?('people') && plaque.people.count > 0 %>
    <div class="container" id="plaque-<%= plaque.id %>-people">
      <%= render plaque.people %>
    </div>
  <% end %>
 
</div>

<% end %>