<% begin %>
  <% if plaque.inscription %><% end %>
<% rescue %>
  <% plaque = plaque.plaque %>
<% end %>
<% if plaque %>
  <div class="card" style="max-width: 50rem;">
    <%= link_to image_tag(plaque.main_photo.file_url, {:class => 'card-img-top img-thumbnail', :width => '100%'}) , plaque_path(plaque) if plaque.main_photo != nil %>
    <div class="card-block">
      <h7 class="card-title"><%= new_linked_inscription(plaque) %></h7>
      <% if plaque.foreign? && plaque.inscription_in_english %>
        <p id="inscription-in-english" class="card-text"><small><%= plaque.inscription_in_english %></small></p>
      <% end %>
      <p class="card-text">
        <small>
          <%= plaque.address %>, <%= link_to(plaque.area.name, area_path(plaque.area)) if plaque.area %>, <%= plaque.area.country.name if plaque.area %>
          <% if @person %> where <%= @person.personal_pronoun %> <%= verbs(@person,plaque).to_sentence.html_safe %><% end %>
          <% '. As far as we know, it is not currently on display.' if !plaque.is_current %>
        </small>
      </p>
    </div>

    <% if plaque.series %>
      <div class="card-footer">
        <div class="card-text">
          <small class="text-muted">
            <% if plaque.series_ref? %>#<%= plaque.series_ref %> <% end %><%= link_to plaque.series.name, plaque.series %>
          </small>
        </div>
      </div>
    <% end %>

    <% if !controller.controller_name.eql?('people') && plaque.people.count > 0 %>
      <div class="container-fluid">
        <div class="card-columns">
          <%= render :partial => 'people/tile', :collection => plaque.people, as: :person %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
