<% content_for :page_title do %>Edit <%= @plaque.title %><% end %>
<% content_for :title do %>
  Edit <%= link_to @plaque.title, plaque_path(@plaque) %>
<% end %>
<% content_for :page_subhead do %>
  Created <%= @plaque.created_at %> and last updated <%= @plaque.updated_at %></p>
<% end %>
<%= render 'plaques/edit_bar', plaque: @plaque %>

<%= form_for(@plaque) do |f| %>
  <div class="form-group">
    <%= f.label :erected_at_string, t('.erected_in') %>
    <%= f.text_field :erected_at_string, {class: 'form-control', include_blank: true} %>
    <%= content_tag(:p, t('.not_erected'), class: 'bg-warning' ) unless @plaque.erected? %>
  </div>
  <div class="form-group">
    <label class="form-check-label">
      <%= f.check_box :is_current, class: 'form-check-input' %>
      <%= t('.exists') %>
    </label>
  </div>
  <div class="form-group">
    <%= f.label :notes %>
    <%= f.text_area :notes, {class: 'form-control', rows: 6} %>
  </div>
  <%= f.submit t('buttons.save'), class: 'btn btn-primary' %>
<% end %>

<br/>
<div class="row">
  <%= button_to('Delete plaque', plaque_path(@plaque.id), {method: :delete, class: 'btn btn-danger'}) if current_user.try(:is_admin?) %>
</div>
