<% content_for(:page_title) {t('.page_title')} %>
<% content_for(:title) {t('.page_heading')} %>
<% content_for(:page_subhead) {t('.thanks')} %>

<script>
  $(function() {
    $('#plaque_other_colour_id').prop('disabled', 'disabled');
    $('input[name="plaque[colour_id]"]').change(function() {
        var val = $('input[name="plaque[colour_id]"]:radio:checked').val();
        if (val == "other") {
          $('#plaque_other_colour_id').prop('disabled', false);
        } else {
          $('#plaque_other_colour_id').prop('disabled', 'disabled');
        }
    });
  });

  $(function() {
    $( "#area" ).autocomplete({
      autofocus: true,
      source: function(request, response) {
        $.ajax({
          url: "/places/autocomplete",
          dataType: "json",
          data: {
            country_id: $('#plaque_country').val(),
            starts_with: request.term,
            limit: 10
          },
          success: function(data) {
            response($.map(data, function(item) {
              return {
                label: item.name,
                id: item.id,
                country_id: item.country_id
              }
            }));
          }
        });
      },
      select: function(event, ui) {
        $('#area_id').val(ui.item.id);
        $('#plaque_country').val(ui.item.country_id);
      }
    });
  });

  $(function() {
    $( "#organisation_name" ).autocomplete({
      autofocus: true,
      source: function(request, response) {
        $.ajax({
          url: "/organisations/autocomplete",
          dataType: "json",
          data: {
            contains: request.term,
            limit: 10
          },
          success: function(data) {
            response($.map(data, function(item) {
              return {
                label: item.name,
                id: item.id
              }
            }));
          }
        });
      },
      select: function(event, ui) {
        $('#plaque_organisation_id').val(ui.item.id);
      }
    });
  });

  $(function() {
    $('#plaque_country').on("change",function() {
      var country = this.value;
      if (country == "1" || country == "13") {
        $('#plaque_language_id').val("1");
      }
      if (country == "5") {
        $('#plaque_language_id').val("5");
      }
      if (country == "28") {
        $('#plaque_language_id').val("16");
      }
      if (country == "26") {
        $('#plaque_language_id').val("9");
      }
      if (country == "72") {
        $('#plaque_language_id').val("35");
      }
      if (country == "85") {
        $('#plaque_language_id').val("55");
      }
    });
  });
</script>

<% if params[:checked] && params[:checked] == "true" %>
  <% if @plaque.errors.size > 0 %>
    <div class="error_alert"><%= t('.error') %></div>
  <% end %>
  <div class="alert alert-warning"><%= t('.you_agree_to_open_licence') %></div>

  <%= form_for @plaque do |f| %>
    <div class="form-group row">
      <%= f.label :inscription, t('.inscription_heading'), class: 'form-control-label' %>
      <%= f.text_area :inscription, {value: params[:phrase], placeholder: "Joe Bloggs lived here", autofocus: true, rows: 6, cols: 50, class: 'form-control'} %>
      <small id="inscriptionHelp" class="form-text text-muted"><%= t('.inscription_advice') %></small>
    </div>
    <div class="form-group row">
      <%= f.label :inscription_is_stub, t('.inscription_is_stub'), class: 'form-control-label col-sm-2' %>
      <div class="col-sm-10">
         <div class="form-check">
           <label class="form-check-label">
             <%= f.radio_button :inscription_is_stub, false, class: 'form-check-input' %>
             <%= t('.inscription_full') %>
           </label>
         </div>
         <div class="form-check">
           <label class="form-check-label">
             <%= f.radio_button :inscription_is_stub, true, class: 'form-check-input' %>
             <%= t('.inscription_partial') %>
           </label>
         </div>
       </div>
    </div>
    <div class="form-group row">
      <%= f.label :country, class: 'form-control-label col-sm-2' %>
      <div class="col-sm-10">
        <%= f.collection_select :country, @countries, :id, :name, include_blank: true, selected: 1, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :area, 'City/Town', class: 'form-control-label col-sm-2' %>
      <div class="col-sm-10">
        <%= text_field_tag :area, "", placeholder: "London", class: 'form-control' %>
        <small id="areaHelp" class="form-text text-muted">just the town name please, no area or postal code</small>
        <%= hidden_field_tag :area_id %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :address, "Street and number", class: 'form-control-label col-sm-2' %>
      <div class="col-sm-10">
        <%= f.text_field :address, { placeholder: "221B Baker Street", class: 'form-control' } %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :language_id, t('.language_heading'), class: 'form-control-label col-sm-2' %>
      <div class="col-sm-10">
        <%= f.collection_select :language_id, @languages, :id, :name, class: 'form-control' %>
      </div>
    </div>
    <%= f.fields_for :organisation do |g| %>
      <div class="form-group row">
        <%= f.label :organisation_name, "Who put the plaque up?", class: 'form-control-label col-sm-2' %>
        <div class="col-sm-10">
          <%= text_field_tag :organisation_name, "", { placeholder: "English Heritage", class: 'form-control' } %>
          <%= hidden_field_tag(:organisation_id) %>
        </div>
      </div>
      <div class="form-group row">
        <p class="col-sm-2">and when?</p>
        <div class="col-sm-10">
          <%= f.date_select :erected_at, include_blank: true, start_year: Time.now.year + 1, end_year: 1800, field_name: :plaque_erected_at_year, order: [:year, :day, :month], class: 'form-control' %>
        </div>
      </div>
    <% end %>
    <div class="form-group row">
      <label class="form-control-label col-sm-2"><%= t('.what_colour') %></label>
      <div class="col-sm-10">
        <% @common_colours.each do |colour| %>
          <div class="row radio">
            <%= f.radio_button :colour_id, colour.id %>
            <%= f.label "colour_id_#{colour.id.to_s}", colour.name, class: colour.name.downcase %>
          </div>
        <% end %>
        <div class="row radio other">
          <%= f.radio_button :colour_id, 'other' %>
          <%= f.label :colour_id_other, "other:" %>
          <%= f.collection_select :other_colour_id, @other_colours, :id, :name, include_blank: true %>
        </div>
        <div class="row radio unknown">
          <%= f.radio_button :colour_id, 'nil', checked: true %>
          <%= f.label :colour_id_nil, "unknown" %>
        </div>
      </div>
    </div>
    <%= f.submit t('buttons.save'), class: 'btn btn-primary' %>
  <% end %>
<% else %>
  <div class="row">
    <p><%= t('.lets_check') %></p>
  </div>
  <div class="row">
    <%= render partial: 'search/search_form', locals: { phrase: @phrase } %>
  </div>
<% end %>
