<% content_for :page_title, @plaque %>
<% content_for :title, new_linked_inscription(@plaque) %>
<%= render 'plaques/edit_bar', :plaque => @plaque %>

<div class="row">
  <% if @plaque.foreign? %>
    <% if @plaque.inscription_in_english %>
      <h7>
        <%= @plaque.inscription_in_english %>
      </h7>
    <% else %>
      <div class="goog-trans-control">xxx</div>
      <h6 class="goog-trans-section" lang="">
        <%= @plaque.inscription %>
      </h6>
      <script>
        function googleSectionalElementInit() {
          new google.translate.SectionalElement({
            sectionalNodeClassName: 'goog-trans-section',
            controlNodeClassName: 'goog-trans-control',
            background: '#f4fa58'
          }, 'google_sectional_element');
        }
      </script>
      <script src="http://translate.google.com/translate_a/element.js?cb=googleSectionalElementInit&ug=section&hl=en"></script>
    <% end %>
  <% end %>
</div>

<div class="row">
  <div class="col-xs-8">
    <div class="card-columns">
      <div id="main_photo" class="card" style="width: 30rem;">
        <% photo = @plaque.main_photo %>
        <% if photo.file_url %>
          <%= content_tag(:span, link_to(image_tag(photo.file_url, {:class => "card-img-top img-rounded img-responsive", :alt => "Photo of " + @plaque.to_s, :rel => "foaf:depiction", :size => "500x500"}), photo.url)) %>
        <% end %>
        <p class="card-text">
          <small><%= icon('copyright') %> <%= link_to photo.photographer, photographer_url(photo.photographer.gsub(".","_").gsub("/","_")) if photo.photographer rescue photo.photographer %> on <%= link_to(photo.source, photo.file_url) %></small>
          <% if photo.licence %>
            <small> <%= icon('creative-commons') %> 
              <%= photo.licence.abbreviation != nil ? photo.licence.abbreviation : photo.licence.name %>
            </small>
          <% end %>
        </p>
      </div>
      <% @plaque.other_photos.each do |photo| %>
        <div class="card" style="width: 15rem;">
          <% if photo.file_url %>
            <%= content_tag(:span, link_to(image_tag(photo.file_url, {:class => "card-img-top img-rounded img-responsive", :alt => "Photo of " + @plaque.to_s, :rel => "foaf:depiction", :size => "300x300"}), photo.url)) %>
          <% end %>
          <p class="card-text">
            <small><%= icon('copyright') %> <%= link_to photo.photographer, photographer_url(photo.photographer.gsub(".","_").gsub("/","_")) if photo.photographer rescue photo.photographer %> on <%= link_to(photo.source, photo.file_url) %></small>
            <% if photo.licence %>
              <small> <%= icon('creative-commons') %> 
                <%= photo.licence.abbreviation != nil ? photo.licence.abbreviation : photo.licence.name %>
              </small>
           <% end %>
          </p>
        </div>
      <% end %>
      <div class="card" style="width: 15rem;">
        <%= link_to( image_tag("NoPhotoSqr.png", :size => "300x300", :class => 'img-rounded card-img-top img-responsive'), plaque_photos_path(@plaque) ) %>
        <div class="card-title">Your photo</div>
        <p class="card-text">
          <small><%= link_to 'How to add it', plaque_photos_path(@plaque) %></small>
        </p>
      </div>
    </div>
  </div>

  <div class="col-xs-4">
    <div class="row">
       <h5>Plaque <abbr title="number">№</abbr> <%= @plaque.id %></h5>
       <div id="facebook_like_button">
         <iframe src="http://www.facebook.com/plugins/like.php?href=<%= plaque_path(@plaque, :only_path => false) %>&amp;layout=button_count&amp;show_faces=false&amp;width=90&amp;action=like&amp;font&amp;colorscheme=light&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:75px; height:20px; text-align:right;" allowTransparency="true"></iframe>
       </div>
    </div>

    <% if @plaque.geolocated? %>
      <div id="plaque-map" data-latitude="<%= @plaque.latitude %>" data-longitude="<%= @plaque.longitude %>" class="mini" data-zoom="18" data-view="one"></div>
      <% if !@plaque.is_accurate_geolocation %>
        <div class="row bg-danger">This is an approximate position</div>
      <% end %>
    <% end %>

    <div class="row">
      <h8><% if @plaque.erected? %>Erected<% else %>To be erected<% end %></h8>
      <td>
        <%= erected_information @plaque %>
        <% if @plaque.series %>as <% if @plaque.series_ref? %>#<%= content_tag(:span, @plaque.series_ref )%><% else %>part<% end %> of the <%= link_to @plaque.series.name, @plaque.series %> series<% end %>
      </td>
    </row>

    <div class="details">
      <div class="form-group row">
        <div class="control-label">Language</div>
        <p class="list-group-item-text"><%= @plaque.language.try(:name) %></p>
      </div>
      <div class="form-group row">
        <div class="control-label">Colour</div>
        <p class="list-group-item-text">
          <% if @plaque.colour %>
            <%= @plaque.colour.name  %>
          <% else %>
            <% @colours = Colour.all %>
            <%= form_for plaque do |f| %>
              <%= f.label :colour_id, "This plaque is" %>
              <%= f.collection_select :colour_id, @colours, :id, :name, {:include_blank => true} %>
              <%= f.submit "Save", :class => :button %>
            <% end %>
          <% end %>
        </p>
      </a>
    </div>

    <div class="row">
      <th>Address</th>
      <td><%= @plaque.address %>, <%= render @plaque.area if @plaque.area %><br/><% if @plaque.roughly_geolocated? %>
         [<%= link_to "geolocate this address", edit_plaque_geolocation_path(@plaque), {:class => :edit, :title => "Geolocate"} %>]
       <% end %>
      </td>
    </div>

    <div class="row">
      <th><%= pluralize_word(@plaque.people.size, "Subject") %></th>
      <td>
        <%= render partial: "people/tile", collection: @plaque.people, as: :person %>
        <%= 'None identified yet' if @plaque.people.size == 0 %>
      </td>
    </div>

    <div class="row">
      <th>Machine tag</th>
      <td><%= @plaque.machine_tag %> <%= button_tag "copy", id: 'copy-flickr-tag', type: 'button', :class => :button %></td>
    </div>

    <div class="row">
      <th>Wikimedia tag</th>
      <td><%= @plaque.wikimedia_tag %> <%= button_tag "copy", id: 'copy-wikimedia-tag', type: 'button', :class => :button %></td>
    </div>

    <script>
      function copyTextToClipboard(text) {
        var textArea = document.createElement("textarea");
        // Place in top-left corner of screen regardless of scroll position.
        textArea.style.position = 'fixed';
        textArea.style.top = 0;
        textArea.style.left = 0;
        // Ensure it has a small width and height. Setting to 1px / 1em
        // doesn't work as this gives a negative w/h on some browsers.
        textArea.style.width = '2em';
        textArea.style.height = '2em';
        // We don't need padding, reducing the size if it does flash render.
        textArea.style.padding = 0;
        // Clean up any borders.
        textArea.style.border = 'none';
        textArea.style.outline = 'none';
        textArea.style.boxShadow = 'none';
        // Avoid flash of white box if rendered for any reason.
        textArea.style.background = 'transparent';
        textArea.value = text;
        document.body.appendChild(textArea);
        textArea.select();
        try {
          var successful = document.execCommand('copy');
          var msg = successful ? 'successful' : 'unsuccessful';
          console.log('Copying text command was ' + msg);
        } catch (err) {
          console.log('Oops, unable to copy');
        }

        document.body.removeChild(textArea);
      }

      var copyFlickrTagBtn = document.querySelector('#copy-flickr-tag');
      copyFlickrTagBtn.addEventListener('click', function(event) {
        copyTextToClipboard('<%= @plaque.machine_tag %>');
      });

      var copyWikimediaTagBtn = document.querySelector('#copy-wikimedia-tag');
      copyWikimediaTagBtn.addEventListener('click', function(event) {
        copyTextToClipboard('<%= @plaque.wikimedia_tag %>');
      });

    </script>

    <% if !@plaque.is_current %>
      <tr>
        <th>Not found</th>
        <td>As far as we know, it is not currently on display</td>
      </tr>
    <% end %>

  </div>

</div>

<% unless @plaque.description.blank? %>
  <div class="row">
    <%= markdown(@plaque.description) %>
  </div>
<% end %>

<% if !@plaque.see_also.empty? %>
  <h7>See also...</h7>
  <div class="container-fluid">
    <div class="card-columns">
      <%= render partial: 'plaques/tile', collection: @plaque.see_also, as: :plaque %>
    </div>
  </div>
<% end %>

<div<%= " class=\"" + @plaque.colour.name + "plaque\"" if @plaque.colour %> about="#this" typeof="op:Plaque"></div>

<div class="row">
  <p><%= t 'data_about_thing_as' %> .json and .geojson</p>
</div>