<% content_for :page_title, @plaque %>
<% content_for :title do %>
<%= linked_inscription @plaque %>
<% end %>
<% content_for :page_subhead do %>
<span id="facebook_like_button">
    <iframe
        src="https://www.facebook.com/plugins/like.php?href=http://openplaques.org/<%= plaque_path(@plaque, only_path: false) %>&amp;layout=button_count&amp;show_faces=false&amp;width=90&amp;action=like&amp;font&amp;colorscheme=light&amp;height=35"
        scrolling="no"
        frameborder="0"
        style="border:none; overflow:hidden; width:75px; height:20px; text-align:right;"
        allowTransparency="true"></iframe>
</span>
<% if @plaque.foreign? %>
<div class="row">
    <% if !@plaque.inscription_in_english.blank? %>
    <h7><%= t '.english_translation' %>: "<%= @plaque.inscription_in_english %>"</h7>
<% else %>
    <div class="goog-trans-control"></div>
    <h6 class="goog-trans-section" lang=""><%= @plaque.inscription_preferably_in_english %></h6>
    <script>
        function googleSectionalElementInit() {
            new google.translate.SectionalElement({
                sectionalNodeClassName: 'goog-trans-section',
                controlNodeClassName: 'goog-trans-control',
                background: '#f4fa58'
            }, 'google_sectional_element');
        }
    </script>
    <script src="https://translate.google.com/translate_a/element.js?cb=googleSectionalElementInit&ug=section&hl=en"></script>
    <% end %>
</div>
<% end %>
<%= content_tag(:p, markdown(@plaque.description)) unless @plaque.description.blank? %>
<% end %>
<%= render 'plaques/edit_bar', plaque: @plaque %>

<div class="plaque">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <div class="card" id="photos">
                <div class="row">
                    <div class="col-xs-12 col-lg-8">
                        <%= render @plaque.main_photo, large: true if @plaque.main_photo %>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <div class="card">
                            <%= link_to plaque_photos_path(@plaque) do %>
                            <%= image_tag("NoPhotoSqr.png", class: 'card-img img-rounded w-100') %>
                            <p class="card-text"><%= t '.how_to_add_yours' %></p>
                            <% end %>
                        </div>
                    </div>
                    <% @plaque.other_photos.each do |photo| %>
                    <div class="col-xs-4">
                        <%= render photo %>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="card" id="location">
                <% if @plaque.geolocated? %>
                <div id="plaque-map" data-latitude="<%= @plaque.latitude %>" data-longitude="<%= @plaque.longitude %>" class="mini" data-zoom="17" data-view="one"></div>
                <%= content_tag(:div, t('.approximate_position'), class: 'bg-warning') unless @plaque.is_accurate_geolocation %>
                <% end %>
                <div class="card-block">
                    <%= content_tag(:p, t('.does_not_exist'), class: 'card-text bg-danger') unless @plaque.is_current %>
                    <%= content_tag(:p, t('.not_erected'), class: 'bg-warning') unless @plaque.erected? %>
                    <p class="card-text">
                        <%= @plaque.address %>,
                        <%= link_to(@plaque.area.name, @plaque.area) if @plaque.area %>
                        <% if @plaque.roughly_geolocated? %>
                        <br/>[<%= link_to "geolocate this address", edit_plaque_geolocation_path(@plaque), {class: :edit, title: "Geolocate"} %>]
                        <% end %>
                        <% if @plaque.geolocated? %>
                        <br/>
                        <%= icon("link") %>
                        <a href="https://maps.google.com/maps?q=&layer=c&cbll=<%= @plaque.latitude %>,<%= @plaque.longitude %>&cbp=11,0,0,0,0" target="_new">Google Streetview</a>
                        <% end %>
                    </p>
                </div>
            </div>
            <div class="card" id="details">
                <p class="card-text">
                    <%= erected_information @plaque %>
                    <% if @plaque.series %>
                    <% if @plaque.series_ref? %>#<%= content_tag(:span, @plaque.series_ref )%>
                <% else %>Part<% end %>
                    of the
                    <%= link_to @plaque.series.name, @plaque.series %>
                    series
                    <% end %></p>
                <p class="card-text">
                    Colour:
                    <% if @plaque.colour %>
                    <%= @plaque.colour.name %>
                <% else %>
                    <% @colours = Colour.all %>
                    <%= form_for @plaque do |f| %>
                    <%= f.label :colour_id, "This plaque is" %>
                    <%= f.collection_select :colour_id, @colours, :id, :name, {include_blank: true} %>
                    <%= f.submit "Save", class: :button %>
                    <% end %>
                    <% end %>
                </p>
                <p class="card-text">Wikimedia:
                    <i><input type="text" readonly value="<%= @plaque.wikimedia_tag %>"/></i>
                    <%= button_tag icon("clipboard"), id: 'copy-wikimedia-tag', type: 'button', class: :button %></p>
                <p class="card-text">Flickr:
                    <i><input type="text" readonly value="<%= @plaque.machine_tag %>"/></i>
                    <%= button_tag icon("clipboard"), id: 'copy-flickr-tag', type: 'button', class: :button %></p>
            </div>
            <div class="card" id="subjects">
                <h6 class="card-header"><%= pluralize_word(@plaque.people.size, 'Subject') %></h6>
                <% if @plaque.people.size == 0 %>
                <p class="card-text">None identified yet. Subjects are curated by hand so please bear with us.</p>
                <% elsif @plaque.people.size == 1 %>
                <%= render @plaque.people.first %>
            <% else %>
                <div class="row">
                    <div class="col-xs-6 col-md-12 col-lg-6">
                        <% @plaque.people.each.with_index do |person, index| %>
                        <%= render person if index.even? %>
                        <% end %>
                    </div>
                    <div class="col-xs-6 col-md-12 col-lg-6">
                        <% @plaque.people.each.with_index do |person, index| %>
                        <%= render person if index.odd? %>
                        <% end %>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>

    <% unless @plaque.see_also.empty? %>
    <div class="card" id="see-also">
        <h6 class="card-header">See also...</h6>
        <% if @plaque.see_also.count < 3 %>
        <div class="row">
            <% @plaque.see_also.each do |plaque| %>
            <div class="col-xs-6 col-sm-4 col-md-3"><%= render partial: 'plaques/tile', object: plaque, as: :plaque %></div>
            <% end %>
        </div>
        <% elsif @plaque.see_also.count < 11 %>
        <div class="row">
            <% cols = (12 / @plaque.see_also.count).ceil %>
            <% cols = [cols,2].max %>
            <% @plaque.see_also.each do |plaque| %>
            <div class="col-xs-6 col-sm-4 col-md-<%= cols %>"><%= render partial: 'plaques/tile', object: plaque, as: :plaque %></div>
            <% end %>
        </div>
    <% else %>
        <div class="card-columns">
            <%= render partial: 'plaques/tile', collection: @plaque.see_also, as: :plaque %>
        </div>
        <% end %>
        <% end %>

    </div>

    <div<%= ' class=\"' + @plaque.colour.name + 'plaque\"' if @plaque.colour %>
        about="#this" typeof="op:Plaque"></div>

    <script>
        function copyTextToClipboard(text) {
            var textArea = document.createElement("textarea");
            textArea.style.position = 'fixed';
            textArea.style.top = 0;
            textArea.style.left = 0;
            textArea.style.width = '2em';
            textArea.style.height = '2em';
            textArea.style.padding = 0;
            textArea.style.border = 'none';
            textArea.style.outline = 'none';
            textArea.style.boxShadow = 'none';
            textArea.style.background = 'transparent';
            textArea.value = text;
            document.body.appendChild(textArea);
            textArea.select();
            try {
                var successful = document.execCommand('copy');
                var msg = successful
                    ? 'successful'
                    : 'unsuccessful';
                console.log('Copying text command was ' + msg);
            } catch (err) {
                console.log('Oops, unable to copy');
            }
            document.body.removeChild(textArea);
        }

        var copyFlickrTagBtn = document.querySelector('#copy-flickr-tag');
        copyFlickrTagBtn.addEventListener('click', function (event) {
            copyTextToClipboard('<%= @plaque.machine_tag %>');
        });

        var copyWikimediaTagBtn = document.querySelector('#copy-wikimedia-tag');
        copyWikimediaTagBtn.addEventListener('click', function (event) {
            copyTextToClipboard('<%= @plaque.wikimedia_tag %>');
        });
    </script>
