<% content_for :title, @plaque %>

<%= content_tag(:section, link_to("Edit this plaque", edit_plaque_path(@plaque), {:class => :edit, :title => "Edit this plaque"}), :class => :admin_panel)  %>

<div class="container" id="inscription">  
  <% if @plaque.foreign? && !@plaque.inscription_in_english %><div class="goog-trans-section" lang=""><% end %>
  <%= plaque_class = @plaque.inscription.length > 250 ? "large_inscription" : "inscription"
    content_tag("h1", new_linked_inscription(@plaque), {:class => plaque_class, :property => "op:inscription"})%>
  <% if @plaque.inscription_in_english %>
    <%= plaque_class = @plaque.inscription_in_english.length > 250 ? "large_inscription" : "inscription" 
      content_tag("h1", @plaque.inscription_in_english, {:class => plaque_class, :property => "op:inscription"})%>
  <% end %>
  <% if @plaque.foreign? && !@plaque.inscription_in_english %>
    <div class="goog-trans-control"></div>
    </div>
    <script>
    function googleSectionalElementInit() {
      new google.translate.SectionalElement({
        sectionalNodeClassName: 'goog-trans-section',
        controlNodeClassName: 'goog-trans-control',
        background: '#f4fa58'
      }, 'google_sectional_element');
    }
    </script>
    <script src="http://translate.google.com/translate_a/element.js?cb=googleSectionalElementInit&ug=section&hl=en"></script>
  <% end %>
</div>

<div class="container">
  <div id="photographs" class="container">
    <%= render @plaque.photos %>
    <div id="your_photo" class="col-md-3">
      <h2>Your photo</h2>
      <% if !@plaque.main_photo %>
        <% if @plaque.is_current %>
          <p>There is no photo linked to this plaque record. It needs someone to hunt it down. Maybe that someone could be you?</p>
        <% else %>
          <p>There is no photo linked to this plaque record. We don't think that it currently exists so we need someone to hunt down an old photo. Maybe that someone could be you?</p>
        <% end %>
      <% else %>
        <p>There is a photo of this plaque, but you could add one as well.</p>
      <% end %>
      <p><%= link_to 'How to add it', plaque_photos_path(@plaque), {:class => :show, :title => 'Show photos'} %></p>
    </div>
  </div>

  <section id="plaque_identifier" class="container">
    <div class="header clearfix">
      <h1>Plaque <abbr title="number">№</abbr> <%= @plaque.id %></h1>
      <div class="like_button">
        <iframe src="http://www.facebook.com/plugins/like.php?href=<%= plaque_path(@plaque, :only_path => false) %>&amp;layout=button_count&amp;show_faces=false&amp;width=90&amp;action=like&amp;font&amp;colorscheme=light&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:75px; height:20px; text-align:right;" allowTransparency="true"></iframe>
      </div>
    </div>
    <% if @plaque.geolocated? %>
      <div id="plaque-map" data-latitude="<%= @plaque.latitude %>" data-longitude="<%= @plaque.longitude %>" class="mini" data-zoom="18" data-view="one"></div>
    <% end %>
    
    <div class="container" summary="Plaque details for #<%= @plaque.id %>">
      <% if !@plaque.is_accurate_geolocation %>
        <span class="col-xs-1">Map accuracy</span>
        <span class="col-xs-11">This is an approximate position</span>
      <% end %>
      <span class="col-xs-1"><% if @plaque.erected? %>Erected<% else %>To be erected<% end %></span>
      <span class="col-xs-11"><%= erected_information @plaque %>
        <% if @plaque.series %>as <% if @plaque.series_ref? %>#<%= content_tag(:span, @plaque.series_ref )%><% else %>part<% end %> of the <%= link_to @plaque.series.name, @plaque.series %> series<% end %>
      </span>
      <span class="col-xs-1">Language</span>
      <span class="col-xs-11"><%= render @plaque.language %></span>
      <span class="col-xs-1">Colour</span>
      <span class="col-xs-11">
        <%= render @plaque.colour if @plaque.colour %>
        <% if !@plaque.colour %>
          <% @colours = Colour.find(:all) %>
          <%= form_for @plaque do |f| %>
            <%= f.label :colour_id, "This plaque is" %>
            <%= f.collection_select :colour_id, @colours, :id, :name, {:include_blank => true} %>
            <%= f.submit "Save", :class => :button %>
          <% end %>
        <% end %>
      </span>
      <span class="col-xs-1">Location</span>
      <span class="col-xs-11"><%= render @plaque.location if @plaque.location %><br/><% if !@plaque.geolocated? && current_user && current_user.is_admin? %>
           [<%= link_to "geolocate this address", edit_plaque_geolocation_path(plaque), {:class => :edit, :title => "Geolocate"} %>]
         <% end %>
      </span>
      <span class="col-xs-2"><%= pluralize(@plaque.people.size, "Subject") %></span>
      <span class="col-xs-10">
        <div class="container">
          <%= render @plaque.people %>
          <%= 'None identified yet' if @plaque.people.size == 0 %>
        </div>
      </span>
      <span class="col-xs-1">Machine tag</span>
      <span class="col-xs-11"><%= @plaque.machine_tag %></span>
      <% if !@plaque.is_current %>
        <span class="col-xs-12">Not found. As far as we know, it is not currently on display</span>
      <% end %>
      <% if !@plaque.see_also.empty? %>
        <span class="col-xs-1">See also...</span>
        <span class="col-xs-12">
          <div class="container">
            <%= render partial: 'plaques/tile', collection: @plaque.see_also, as: :plaque %>
          </div>
        </span>
      <% end %>   
    </div>
  </section>

</div>

<% unless @plaque.description.blank? %>
  <div class="container" id="description">
      <%= simple_format(h(@plaque.description)) %>
  </div>
<% end %>

<div<%= " class=\"" + @plaque.colour.name + "plaque\"" if @plaque.colour %> about="#this" typeof="op:Plaque"></div>

<p class="alternate_formats">Data about this plaque as <%= alternate_link_to "XML", plaque_path(@plaque, :xml), :xml %> <%= alternate_link_to "JSON", plaque_path(@plaque, :json), :json %> <%= alternate_link_to "KML", plaque_path(@plaque, :kml), :kml if @plaque.geolocated? %> <%= alternate_link_to "GMAP", "http://maps.google.co.uk/maps?q=" + plaque_url(@plaque, :kml), :html if @plaque.geolocated? %></p>