<% content_for(:page_title) {t '.page_title'} %>
<% content_for(:title) {t '.page_heading'} %>
<% content_for(:page_subhead) do %>
  <%= t '.how_many', count: @photographers_count %><br/>
  <%= t '.where' %>
  <%= t '.how_they_are_licenced_html' %>
  <br/>
  <span class="badge badge-secondary pull-right"><%= @photographers_count %></span>
<% end %>
<% content_for(:admin_menu) {navbar_link_to t('buttons.add'), new_photographer_path} %>

<h2><%= t '.the_top_50' %></h2>
<div class="row">
  <div id="top-chart" class="col-12" style="height: 2000px;"></div>
</div>

<script>
  new RGraph.SVG.HBar({
    id: 'top-chart',
    data: [<% @photographers.each do |p| %><%= p.photos_count %>,<% end %>],
    options: {
      yaxisLabels: [<% @photographers.each do |p| %>"#<%= p.rank %> <%= p.id %>",<% end %>],
      strokestyle: 'rgba(0,0,0,0)',
      labelsAbove: true,
      vmargin: 15,
      backgroundGrid: false,
      colors: ['gold', 'silver', 'brown', <% (40..200).step(50).each do |b| %><% (40..200).step(50).each do |g| %><% (40..200).step(50).each do |r| %>'rgb(<%= r %>,<%= g %>,<%= b %>)', <% end %><% end %><% end %>],
      colorsSequential: true,
      xlabels: false,
      gutterLeft: 100,
      gutterRight: 50,
      gutterTop: 25,
      noxaxis: true,
      noxtickmarks: true,
      noytickmarks: true,
    }
  }).grow();
</script>
