<% content_for(:page_title) {t '.page_title'} %>

<div class="panel">
  <h1><%= t '.page_heading' %></h1>
  <%= form_tag("/photographers", :method => "create") do %>
    <%= label_tag(:flickr_url, t('.flickr_url')) %> <%= text_field_tag(:flickr_url) %>
    <%= submit_tag(t('buttons.add'), :class => 'button') %>
  <% end %>
</div>