<% content_for :page_title, t('.page_title') + @plaque.title %>
<% content_for :title do %>
  <%= t '.title' %> <%= link_to @plaque.title, @plaque %>?
<% end %>
<% content_for :page_subhead do %>
  <% if url_for(only_path: false).include?('microtask') %>
    <%= button_to t('.not_sure'), todo_path('microtask'), method: :get, class: :button %>
  <% end %>
<% end %>
<%= render 'plaques/edit_bar', plaque: @plaque %>

<%= form_for @plaque do |f| %>
  <div class="form-group">
    <%= f.label :colour_id, t('.colour_label') %>
    <%= f.collection_select :colour_id, @colours, :id, :name, {class: 'form-control', include_blank: true} %>
  </div>
  <%= f.submit t('buttons.save'), class: 'btn btn-primary' %>
<% end %>
