<% content_for :page_title, t('.page_title') + @plaque.title %>
<% content_for :title do %>
  <%= t '.title' %> <%= link_to @plaque.title, @plaque %>?
<% end %>
<% content_for :page_subhead do %>
  <% if url_for(:only_path => false).include?('microtask') %>
    <%= button_to t('.not_sure'), todo_path('microtask'), :method => :get, :class => :button %>
  <% end %>
<% end %>
<%= render 'plaques/edit_bar', :plaque => @plaque %>

<div class="row">
  <div class="col-xs-12 col-sm-6">
    <%= form_for @plaque do |f| %>
      <fieldset class="form-group">
        <%= f.label :colour_id, t('.colour_label') %>
        <%= f.collection_select :colour_id, @colours, :id, :name, {:class => 'form-control', :include_blank => true} %>
      </fieldset>
      <%= f.submit t('buttons.save'), :class => 'btn btn-primary' %>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= render @plaque.main_photo if @plaque.main_photo %>
  </div>
</div>
