<div class="row">
  <% if pick.photo %>
    <%= link_to pick.plaque do %>
      <div class="col-xs-12 col-sm-3">
        <%= render pick.plaque.main_photo %>
      </div>
    <% end %>
  <% end %>
  <div class="col-xs-12<% if pick.photo %> col-sm-9<% end %>">
    <div class="card-title"><%= link_to pick.plaque.title, pick.plaque %></div>
    <div class="card-text"><%= pick.proposer %> says,"<%= pick.description %>"</div>
  </div>
</div>
