<div class="card">
    <% if pick.photo %>
    <%= link_to pick.plaque do %>
    <div class="card-img-top">
        <%= render pick.plaque.main_photo %>
    </div>
    <% end %>
    <% end %>
    <div class="card-block">
        <h2 class="card-title"><%= t '.plaque_of_the_day' %></h2>
        <p class="card-text"><%= link_to pick.plaque.title, pick.plaque %>
            <%= pick.proposer %>
            says,"<%= pick.description %>"</p>
    </div>
</div>
