<% content_for(:page_title) {t '.page_title', pick: @pick.title} %>
<% content_for(:title) {t '.page_heading', pick: @pick.title} %>

<%= form_for(@pick) do |f| %>
  <div class="form-group row">
    <%= f.label :plaque_id, class: 'form-control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.text_field :plaque_id, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :description, class: 'form-control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.text_area :description, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :proposer, class: 'form-control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.text_field :proposer, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :feature_on, class: 'form-control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.text_field :feature_on, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :last_featured, class: 'form-control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.text_field :last_featured, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :featured_count, class: 'form-control-label col-sm-2' %>
    <div class="col-sm-10">
      <div class='label label-default label-pill pull-left'><%= @pick.featured_count %></div>
    </div>
  </div>
  <%= f.submit t('buttons.save'), class: 'btn btn-primary' %>
<% end %>

<div class="container">
  <div class="row">
  <%= render @pick %>
  </div>
</div>

<%= button_to(t('buttons.delete'), pick_path(@pick), {method: :delete, class: :button}) if current_user.try(:is_admin?) %>
