<% content_for(:page_title) {t '.page_title', pick: @pick.title} %>
<% content_for(:title) {t '.page_heading', pick: @pick.title} %>

<%= form_for(@pick) do |f| %>
  <div class="mb-3">
    <%= f.label :plaque_id %>
    <%= f.text_field :plaque_id %>
  </div>
  <div class="mb-3">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="mb-3">
    <%= f.label :proposer %>
    <%= f.text_field :proposer %>
  </div>
  <div class="mb-3">
    <%= f.label :feature_on %>
    <%= f.text_field :feature_on %>
  </div>
  <div class="mb-3">
    <%= f.label :last_featured %>
    <%= f.text_field :last_featured %>
  </div>
  <div class="mb-3">
    <%= f.label :featured_count %>
    <div class='label label-default label-pill pull-left'><%= @pick.featured_count %></div>
  </div>
  <%= f.submit t('buttons.save') %>
<% end %>

<div class="container">
  <div class="row">
    <%= render @pick %>
  </div>
</div>

<%= button_to(t('buttons.delete'), pick_path(@pick), {method: :delete, class: :button}) if current_user.try(:is_admin?) %>
