<% content_for(:page_title) {t '.page_title'} %>

<div class="panel">
  <h1><%= t '.page_heading' %></h1>
  <%= form_for @picks, :url => picks_path do |f| %>
    <p><%= t '.plaque_id' %> #<%= f.text_field :plaque_id, :maxlength => "5" %></p>
    <p><%= t '.description' %><br/><%= f.text_area :description, :rows=>5, :cols=>80 %></p>
    <p><%= t '.proposer' %> <%= f.text_field :proposer, :maxlength => "40" %></p>
    <%= f.submit t('buttons.add'), :class => :button %>
  <% end %>
</div>