<% content_for(:page_title) {t '.page_title', :role => @role.name } %>

<div class="panel clearfix">
  <h1><%= t '.page_heading', :role => @role.name %></h1>
  <% if @role.used_as_a_suffix? %>
    <p>
      <% if @role.military_medal? %>
        A military medal that confers
      <% else %>
        Confers
      <% end %>
      the letters <strong><%= @role.letters %></strong> after the name.
    </p>
  <% end %>
  <%= form_for(@role) do |f| %>
    <p><%= f.label :name %> <%= f.text_field :name %></p>
    <p><%= f.label :abbreviation %> <%= f.text_field :abbreviation %></p>
    <p><%= f.label :prefix %> <%= f.text_field :prefix %></p>
    <p><%= f.label :suffix %> <%= f.text_field :suffix %></p>
    <p><%= f.label :slug %> <%= f.text_field :slug %></p>
    <p><%= f.label :wikipedia_stub %> <%= f.text_field :wikipedia_stub %></p>
    <p><%= f.label :role_type %> <%= f.collection_select :role_type, Role.types, :to_s, :to_s, :include_blank => true %></p>
    <p><%= f.submit t('buttons.update'), :class => :button %></p>
  <% end %>
</div>