<% content_for(:page_title) {t '.page_title', role: @role.name } %>
<% content_for(:title) {t '.page_heading', role: @role.name } %>

<div class="row">
  <%= render @role %>
</div>

<%= form_for(@role) do |f| %>
  <div class="form-group row">
    <%= f.label :name, class: 'form-control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :role_type, class: 'form-control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.collection_select :role_type, Role.types, :to_s, :to_s, include_blank: true, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :abbreviation, class: 'form-control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.text_field :abbreviation, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :prefix, class: 'form-control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.text_field :prefix, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :suffix, class: 'form-control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.text_field :suffix, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :priority, class: 'form-control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.number_field :priority, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :slug, class: 'form-control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.text_field :slug, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <%= f.label :wikidata_id, class: 'form-control-label' %>
      <%= link_to(icon('external-link'), @role.wikidata_url, target: '_blank') unless @role.wikidata_id.blank?%>
    </div>
    <div class="col-sm-10">
      <%= f.text_field :wikidata_id, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <%= f.label :wikipedia_url, class: 'col-form-label' %>
      <%= link_to(icon('external-link'), @role.wikipedia_url, target: '_blank')  unless @role.wikipedia_url.blank? %>
      <%= f.label :dbpedia_uri, class: 'col-form-label' %>
      <%= link_to(icon('external-link'), @role.dbpedia_uri, target: '_blank') %>
    </div>
    <div class="col-sm-10">
      <%= t '.wikipedia_comment' %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :description, class: 'form-control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.text_field :description, class: 'form-control' %>
    </div>
  </div>
  <%= f.submit t('buttons.save'), class: 'btn btn-primary' %>
<% end %>
