<% content_for(:page_title) {t '.page_title', role: @role.name } %>
<% content_for(:title) {t '.page_heading', role: @role.name } %>

<div class="row">
  <%= render @role %>
</div>

<%= form_for(@role) do |f| %>
  <div class="mb-3">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="mb-3">
    <%= f.label :role_type %>
    <%= f.collection_select :role_type, Role.types, :to_s, :to_s, include_blank: true %>
  </div>
  <div class="mb-3">
    <%= f.label :abbreviation %>
    <%= f.text_field :abbreviation %>
  </div>
  <div class="mb-3">
    <%= f.label :prefix %>
    <%= f.text_field :prefix %>
  </div>
  <div class="mb-3">
    <%= f.label :suffix %>
    <%= f.text_field :suffix %>
  </div>
  <div class="mb-3">
    <%= f.label :priority %>
    <%= f.number_field :priority %>
  </div>
  <div class="mb-3">
    <%= f.label :slug %>
    <%= f.text_field :slug %>
  </div>
  <div class="mb-3">
    <div class="col-sm-2">
      <%= f.label :wikidata_id %>
      <%= link_to(icon(:fas, :link), @role.wikidata_url, target: '_blank') unless @role.wikidata_id.blank?%>
    </div>
    <%= f.text_field :wikidata_id %>
  </div>
  <div class="mb-3">
    <div class="col-sm-2">
      <%= f.label :wikipedia_url, class: 'col-form-label' %>
      <%= link_to(icon(:fas, :link), @role.wikipedia_url, target: '_blank')  unless @role.wikipedia_url.blank? %>
      <%= f.label :dbpedia_uri, class: 'col-form-label' %>
      <%= link_to(icon(:fas, :link), @role.dbpedia_uri, target: '_blank') %>
    </div>
    <%= t '.wikipedia_comment' %>
  </div>
  <div class="mb-3">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <%= f.submit t('buttons.save') %>
<% end %>
