<% content_for(:page_title) {t '.page_title', :role => @pluralized_role} %>
<% content_for(:title) do %>
  <%= icon('user') if @role.person?%>
  <%= icon('paw') if @role.animal? %>
  <%= icon('users') if @role.group? %>
  <%= icon('building') if @role.place? %>
  <%= icon('map-marker') if @role.thing? %>
  <%= @role.name.pluralize %>
<% end %>
<% content_for(:page_subhead) do %>
  <% if @role.used_as_a_suffix? %>
    <p>
      <%= @role.military_medal? ? 'A military medal that confers' : 'Confers' %>
      the letters <strong><%= @role.letters %></strong> after the name.
    </p>
  <% end %>
  <% unless @role.wikipedia_stub.blank? %>
    <%= icon('external-link') %><%= link_to('Wikipedia', @role.wikipedia_url, :target => "_blank") %>
  <% end %>
  <span class="label label-default label-pill pull-right"><%= @role.personal_roles_count %></span>
<% end %>
<% content_for(:admin_menu) {navbar_link_to t('buttons.edit'), edit_role_path(@role)} %>

<div class="card-columns">
  <%= render @role.people.uniq %>
</div>
<% if @role.related_roles.size > 0 %>
  <div class="row">
    <h2><%= t '.related_roles'%></h2>
  </div>
  <% @role.related_roles.each do |related_role| %>
    <div class="row">
      <%= link_to related_role do %>
        <%= render related_role %>
      <% end %>
    </div>
    <div class="container-fluid">
      <div class="card-columns">
        <%= render related_role.personal_roles %>
      </div>
    </div>
  <% end %>
<% end %>
