<% content_for(:page_title) {t '.page_title', role: @role.pluralize} %>
<% content_for(:title) do %>
  <%= icon('user') if @role.person? %>
  <%= icon('paw') if @role.animal? %>
  <%= icon('users') if @role.group? %>
  <%= icon('building') if @role.place? %>
  <%= icon('map-marker') if @role.thing? %>
  <%= @role.pluralize %>
  <span class="badge badge-secondary">
    <%= @personal_roles.total_entries %>
  </span>
<% end %>
<% content_for(:page_subhead) do %>
  <% if @role.used_as_a_prefix? || @role.used_as_a_suffix? %>
    <p>e.g. "<% if @role.used_as_a_prefix? %><strong><%= @role.prefix %> </strong><% end %>John Smith<% if @role.used_as_a_suffix? %><strong> <%= @role.letters %></strong><% end %>"</p><% end %>
<% end %>
<% content_for(:admin_menu) {navbar_link_to t('buttons.edit'), edit_role_path(@role)} if @role.id %>

<% if @role.description %>
  <blockquote class="quote-card blue-card">
    <p><%= @role.description %></p>
    <cite><%= link_to(icon('external-link') + "DbPedia", @role.dbpedia_uri, target: '_blank') unless @role.dbpedia_uri.blank? %></cite>
  </blockquote>
<% end %>
<%= link_to(icon('external-link') + "Wikidata", @role.wikidata_url, target: '_blank') unless @role.wikidata_url.blank? %>
<%= link_to(icon('external-link') + "Wikipedia", @role.wikipedia_url, target: '_blank') unless @role.wikipedia_url.blank? %>

<%= render partial:'personal_roles/tiles' %>

<% if @role.related_roles.size > 0 %>
  <div class="row">
    <h2><%= t '.related_roles'%></h2>
  </div>
  <div class="card-columns">
    <% @role.related_roles.each do |related_role| %>
      <%= link_to related_role do %>
        <%= render related_role %>
      <% end %>
    <% end %>
  </div>
<% end %>
