<% url = local_assigns[:large] ? photo.file_url : photo.thumbnail_url %>
<% if url %>
<div class="card photo">
  <% alt = photo.plaque ? 'Photo of ' + photo.plaque.title : photo.person ? 'Photo of ' + photo.person.name : 'Photo' %>
  <%= image_tag(url.gsub('http:','https:'), {:class => "card-img img-rounded w-100", :alt => alt, :rel => "foaf:depiction"}) %>
  <div class="card-info">
    <%= photo.licence.creative_commons? ? icon('creative-commons') : icon('copyright') if photo.licence %> <%= photo.photographer if photo.photographer %> on <%= photo.source %>
    <%= photo.licence.abbreviation ? photo.licence.abbreviation : photo.licence.name if photo.licence && !photo.licence.creative_commons? %>
  </div>
</div>
<% end %>
