<div class="card photo">
  <% if photo.file_url %>
    <% if photo.plaque %>
      <%= content_tag(:span, image_tag(photo.file_url, {:class => "card-img-top img-rounded", :alt => "Photo of " + photo.plaque.to_s, :rel => "foaf:depiction", :width => '100%'})) %>
    <% elsif photo.person %>
      <%= content_tag(:span, image_tag(photo.file_url, {:class => "card-img-top img-rounded", :alt => "Photo of " + photo.person.to_s, :rel => "foaf:depiction", :width => '100%'})) %>
    <% else %>
      <%= content_tag(:span, image_tag(photo.file_url, {:class => "card-img-top img-rounded", :alt => "Photo", :width => '100%'})) %>
    <% end %>
  <% end %>
  <p class="card-text">
    <small><%= icon('copyright') %> <%= link_to photo.photographer, photographer_url(photo.photographer.gsub(".","_").gsub("/","_")) if photo.photographer rescue photo.photographer %> on <%= link_to(photo.source, photo.file_url) %></small>
    <% if photo.licence %>
      <small> <%= icon('creative-commons') %> <% if photo.licence.abbreviation != nil %><%= photo.licence.abbreviation %><% else %><%= photo.licence.name %><% end %></small>
    <% end %>
  </p>
</div>
