<% content_for(:page_title) {t '.page_title', :photo => @photo.title } %>
<% content_for(:title) {t '.page_heading', :photo => @photo.title} %>

<div class="row">
  <%= link_to(image_tag(@photo.file_url), @photo.url) %>
</div>

<%= form_for @photo do |f| %>
  <fieldset class="form-group row">
    <%= f.label :url, :class => 'form-control-label col-sm-2' %>
    <div class="col-sm-10">
       <%= link_to(icon('external-link'), @photo.url) %>
       <%= f.text_field :url, :maxlength => "100", :class => 'form-control' %>
    </div>
  </fieldset>
  <fieldset class="form-group row">
    <%= f.label :file_url, :class => 'form-control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= link_to(icon('external-link'), @photo.file_url) %>
      <%= f.text_field :file_url, :maxlength => "100", :class => 'form-control' %>
    </div>
  </fieldset>
  <fieldset class="form-group row">
    <%= f.label :thumbnail, :class => 'form-control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= link_to(icon('external-link'), @photo.thumbnail) %>
      <%= f.text_field :thumbnail, :maxlength => "100", :class => 'form-control' %>
    </div>
  </fieldset>
  <fieldset class="form-group row">
    <%= f.label :thumbnail_url, :class => 'form-control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= link_to(icon('external-link'), @photo.thumbnail_url) %>
      <span class="form-control"><%= @photo.thumbnail_url %></span>
    </div>
  </fieldset>
  <fieldset class="form-group row">
    <%= f.label :photographer, :class => 'form-control-label col-sm-2' %>
    <div class="col-sm-10">
      <% if @photo.photographer %>
        <%= link_to(icon('external-link'), photographer_url(@photo.photographer.gsub(".","_").gsub("/","_"))) %>
      <% end %>
      <%= f.text_field :photographer, :class => 'form-control' %>
    </div>
  </fieldset>
  <fieldset class="form-group row">
    <%= f.label :photographer_url, :class => 'form-control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= link_to(icon('external-link'), @photo.photographer_url) %>
      <%= f.text_field :photographer_url, :size => 80, :class => 'form-control' %>
    </div>
  </fieldset>
  <fieldset class="form-group row">
    <%= f.label :licence_id, :class => 'form-control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.collection_select :licence_id, @licences, :id, :name, {:include_blank => true, :class => 'form-control'} %>
    </div>
  </fieldset>
  <fieldset class="form-group row">
    <%= f.label :of_a_plaque, :class => 'form-control-label col-sm-2' %>
    <div class="col-sm-8">
      <%= f.check_box :of_a_plaque, :class => 'form-control' %>
    </div>
  </fieldset>

  <!-- TODO show or hide this section depending on of_a_plaque checkbox -->
  <div name="plaque-info">
    <fieldset class="form-group row">
      <%= f.label :plaque_id, :class => 'form-control-label col-sm-2' %>
      <div class="col-sm-10">
        <%= f.text_field :plaque_id, :maxlength => "5", :class => 'form-control' %>
        <%= link_to(@photo.plaque, @photo.plaque) if @photo.plaque %>
      </div>
    </fieldset>
    <% if @plaques %>
      <% @plaques.each do |plaque| %>
        <fieldset class="form-group row">
        <div class="col-sm-2">
          #<%= plaque.id %> ?
        </div>
        <div class="col-sm-10">
        <%= plaque.inscription %>
        </div>
        </fieldset>
      <% end %>
    <% end %>
  </div>

   <fieldset class="form-group row">
    <%= label_tag(nil, t('.geolocation'), :class => 'form-control-label col-sm-2') %>
    <div class="col-sm-10">
      POINT(<%= @photo.longitude %>, <%= @photo.latitude %>)
    </div>
  </fieldset>
  <fieldset class="form-group row">
    <%= label_tag(:streetview_url, t('.google_streetview_url'), :class => 'form-control-label col-sm-2') %>
    <div class="col-sm-10">
      <%= text_field_tag(:streetview_url, nil, :class => 'form-control') %>
    </div>
  </fieldset>

  <fieldset class="form-group row">
    <%= f.label :person_id, :class => 'form-control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.text_field :person_id, :maxlength => "5", :class => 'form-control' %>
      <%= link_to(@photo.person, @photo.person) if @photo.person %>
    </div>
  </fieldset>
  <fieldset class="form-group row">
    <%= f.label :subject, :class => 'form-control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.text_field :subject, :class => 'form-control' %>
    </div>
  </fieldset>
  <fieldset class="form-group row">
    <%= f.label :description, :class => 'form-control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.text_area :description, :class => 'form-control' %>
    </div>
  </fieldset>
  <fieldset class="form-group row">
    <%= f.label :shot, :class => 'form-control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.collection_select :shot, Photo.shots, :to_s, :to_s, {:include_blank => true, :class => 'form-control'} %> shot
    </div>
  </fieldset>
  <%= f.submit t('buttons.save'), :class => 'btn btn-primary'%>
<% end %>

<div class="row">
  <%= button_to(t('buttons.delete'), photo_path(@photo), {:method => :delete, :class => 'btn btn-danger'}) if current_user.try(:is_admin?) %>
</div>
