<% content_for(:page_title) {t '.page_title'} %>
<% content_for(:title) {t '.page_heading'} %>
<% content_for(:admin_menu) {navbar_link_to(t('buttons.add'), new_photo_path, {:class => :edit, :title => t('buttons.add')})} %>

<div class="row">
  <%= t '.explanation_html' %>
</div>

<div class="row">
  <%= will_paginate @photos %>
</div>

<div class="container-fluid">
  <div class="card-columns">
    <%= render partial: 'photos/tile', :collection => @photos, as: :photo %>
  </div>
</div>

<div class="row">
  <%= will_paginate @photos %>
</div>

<div class="row">
  <p><%= t 'data_about_things_as' %> .json</p>
</div>