<% content_for(:page_title) { t('.page_title') } %>
<% content_for(:title) { t('.page_heading') } %>

<h2><%= t '.required' %></h2>

<%= form_for @photo do |f| %>
  <div class="mb-3">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>
  <div class="mb-3">
    <%= f.label :licence_id %>
    <%= f.collection_select :licence_id, @licences, :id, :name, {include_blank: true, class: 'form-select'} %>
  </div>
  <div class="mb-3">
    <%= f.label :photographer %>
    <%= f.text_field :photographer %>
  </div>
  <div class="mb-3">
    <%= f.label :photographer_url %>
    <%= f.text_field :photographer_url %>
  </div>
  <div class="mb-3">
    <%= f.label :file_url %>
    <%= f.text_field :file_url %>
  </div>
  <div class="mb-3">
    <%= f.label :plaque_id %>
    <%= f.text_field :plaque_id %>
  </div>
  <div class="mb-3">
    <%= f.label :shot %>
    <%= f.collection_select :shot, Photo.shots, :to_s, :to_s, {include_blank: true, class: 'form-select'} %>
  </div>
  <%= f.submit t('buttons.save') %>
<% end %>
