<% content_for(:page_title) {t '.page_title', photo: @photo.title} %>
<% content_for(:title) do %>
  <% if @photo.plaque %>
    <%= t '.page_heading' %> <%= link_to(@photo.plaque.title, @photo.plaque) %>
  <% elsif @photo.person %>
    <%= t '.page_heading' %> <%= link_to(@photo.person.full_name, @photo.person) %>
  <% else %>
    <% if @photo.of_a_plaque? %>
      <p>This photo has not been linked to a plaque yet.</p>
    <% else %>
      <p>This photo has been flagged as not being of a plaque.</p>
    <% end %>
  <% end %>
<% end %>
<% content_for(:page_subhead) do %>
  This image comes from <%= @photo.source %>
<% end %>
<% content_for(:admin_menu) {navbar_link_to t('buttons.edit'), edit_photo_path(@photo)} %>

<div class="row">
  <%= link_to @photo.url do %>
    <%= render @photo, large: true %>
  <% end %>
</div>
