<% content_for(:page_title) {t '.page_title', :photo => @photo.title } %>
<% content_for(:title) { } %>
<% content_for(:admin_menu) {navbar_link_to t('buttons.edit'), edit_photo_path(@photo), {:class => :edit, :title => t('buttons.edit')}} %>

<div class="row">
  <% if @photo.plaque %>
    <h1 property="dc:title rdfs:label foaf:name" about="#this"><%= t '.page_heading' %> <%= link_to(@photo.plaque.title, @photo.plaque) %></h1>
  <% elsif @photo.person %>
    <h1 property="dc:title rdfs:label foaf:name" about="#this"><%= t '.page_heading' %> <%= link_to(@photo.person.full_name, @photo.person) %></h1>
  <% else %>
    <% if @photo.of_a_plaque? %>
      <p>This photo has been flagged as not being of a plaque.</p>
    <% else %>
      <p>This photo has not been linked to a plaque yet.</p>
    <% end %>.</p>
  <% end %>
</div>

<div class="row">
  <%= render @photo %>
</div>

<div class="row">
  <p><%= t 'data_about_thing_as' %> .json</p>
</div>