<% content_for(:page_title) {t '.page_title', :country => @country.name} %>

<div class="panel clearfix">
  <h1><%= t '.page_heading_html', :country => link_to(@country.name, @country) %></h1>
  <%= form_for @country do |f| %>
    <p><%= f.label :alpha2, t('.alpha2_code') %><%= f.text_field :alpha2 %></p>
    <p><%= f.label :name, t('.name') %><%= f.text_field :name %></p>
    <p><%= f.label :dbpedia_uri, t('.dbpedia_uri') %> <%= f.text_field :dbpedia_uri %></p>
    <% if @areas && @areas.size > 0 %>
    <p>
      <%= f.label :area_id, t('.area') %>
      <%= f.collection_select :area_id, @areas, :id, :name, {:include_blank => true} %>
    </p>
    <% end %>
    <p><%= f.submit t('buttons.update'), :class => :button %></p>
  <% end %>
  <%= content_tag("p", link_to(t('.add_an_area'), new_country_area_path(@country.alpha2))) if current_user %>
</div>