<% content_for(:page_title) {t '.page_title', :country => @country.name} %>

<div class="panel clearfix">
  <% if current_user && current_user.is_admin? %>
    <section class="admin_panel">
      <%= link_to(t('.add_an_area'), new_country_area_path(@country.alpha2), {:class => :edit, :title => t('buttons.add')})%>
    </section>
  <% end %>
  <h1><%= t '.page_heading_html', :country => link_to(@country.name, @country) %></h1>
  <%= form_for @country do |f| %>
    <p><%= f.label :alpha2 %> <%= f.text_field :alpha2 %></p>
    <p><%= f.label :name %> <%= f.text_field :name %></p>
    <p><%= f.label :dbpedia_uri %> <%= f.text_field :dbpedia_uri %></p>
    <p><%= f.submit t('buttons.update'), :class => :button %></p>
  <% end %>
</div>