<% content_for(:page_title) {t '.page_title', country: @country.name} %>
<% content_for(:title) {t '.page_title', country: @country.name} %>
<% content_for(:admin_menu) {navbar_link_to(t('.add_an_area'), new_country_area_path(@country.alpha2), {class: :edit, title: t('buttons.add')})} %>

<%= form_for @country do |f| %>
  <div class="mb-3">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="mb-3">
    <%= f.label :alpha2 %>
    <%= f.text_field :alpha2, maxlength: 2 %>
  </div>
  <div class="mb-3">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="mb-3">
    <%= f.label :wikidata_id %>
    <%= f.text_field :wikidata_id %>
  </div>
  <div class="mb-3">
    <%= f.label :preferred_zoom_level %>
    <%= f.text_field :preferred_zoom_level, maxlength: 2 %>
  </div>
  <%= render 'geolocate', {f: f, object: @country, q: @country.name} %>
  <%= f.submit t('buttons.update') %>
<% end %>
