<% content_for(:page_title) {t '.page_title', country: @country.name} %>
<% content_for(:title) {render @country} %>
<% content_for(:admin_menu) {navbar_link_to(t('.add_an_area'), new_country_area_path(@country.alpha2), {class: :edit, title: t('buttons.add')})} %>

<%= form_for @country do |f| %>
  <div class="form-group row">
    <%= f.label :name, class: 'form-control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :alpha2, class: 'form-control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.text_field :alpha2, maxlength: 2, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :wikidata_id, class: 'form-control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.text_field :wikidata_id, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :preferred_zoom_level, class: 'form-control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.text_field :preferred_zoom_level, maxlength: 2, class: 'form-control' %>
    </div>
  </div>
  <%= render 'geolocate', {f: f, object: @country, q: @country.name} %>

  <%= f.submit t('buttons.update'), class: 'btn btn-primary' %>
<% end %>
