<% content_for(:page_title) {t '.page_title'} %>

<div class="panel clearfix">
  <% if current_user && current_user.is_admin? %>
    <section class="admin_panel">
      <%= link_to(t('buttons.add'), new_country_path, {:class => :edit, :title => t('buttons.add')})%>
    </section>
  <% end %>
  <h1><%= t '.page_heading' %></h1>
  <p><%= t '.different_strokes' %></p>
</div>

<%= content_tag("ol", :id => "places_results", :class => "results one_destination_results") do %>
  <% @countries.each do |country| %>
    <%= content_tag("li") do %>
      <%= link_to country do %>
          <p class="result"><%= country.name %></p>
          <p class="count"><%= pluralize(@plaque_counts[country.id], "plaque") %></p>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<p class="alternate_formats"><%= t 'data_about_things_as' %> <%= alternate_link_to "JSON", countries_path(:json), :json %> </p>