<% content_for(:page_title) {t '.page_title', :country => @country.name} %>

<div class="panel clearfix">
  <% if current_user && current_user.is_admin? %>
    <section class="admin_panel">
      <%= link_to t('buttons.edit'), edit_country_path(@country), {:class => :edit, :title => t('buttons.edit')} %>
      <%= link_to(t('buttons.add'), new_country_area_path(@country.alpha2), {:class => :edit, :title => t('buttons.add')})%>
    </section>
  <% end %>
  <h1><%= @country.name %></h1>
  <h2>We have <%= pluralize @country.plaques.size, "plaque record" %> in <%= pluralize @country.areas.size, "area" %></h2>
  <%= content_tag("ol", :class => "results one_destination_results", :id => "people_results") do %>
    <% @areas.each do |area| %>
      <%= content_tag("li") do %>
        <%= link_to area_path(area) do %>
          <p class="result"><%= area.name %></p>
        <% end %>
      <% end %>
    <% end %>
  <% end unless @areas.size <=0 %>
  <p class="alternate_formats"><%= t 'data_about_thing_as' %> <%= alternate_link_to "JSON", country_path(@country, :json), :json %></p>
</div>