<% content_for(:page_title) {t '.page_title', :letter => @index.upcase } %>

<div class="panel clearfix">
  <% if current_user && current_user.is_admin? %>
    <section class="admin_panel">
      <%= link_to t('buttons.add'), new_role_path, {:class => :edit, :title => t('buttons.add')} %>
    </section>
  <% end %>
  <h1><%= t '.page_heading', :letter => @index.upcase %></h1>
  <%= render :partial => "index_navigation" %>
</div>

<div class="panel clearfix">
  <%= content_tag("ul", :id => 'roles_results', :class => 'results') do %>
    <% @roles.each do |role| %>
      <%= content_tag("li") do %>
        <% if role.full_name.include? " of " %>
          <%= link_to pluralize(role.personal_roles_count, role.full_name.split(/#| of /).first) + role.full_name.sub(/.*? of /, ' of '), role_path(role) %>
        <% else %>
          <%= link_to pluralize(role.personal_roles_count, role.full_name), role_path(role) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>

<p class="alternate_formats"><%= t 'data_about_thing_as' %> <%= alternate_link_to "JSON", roles_by_index_path(@index.downcase, :json), :json %></p>
