<% content_for :page_title, "Edit language of plaque \#" + @plaque.id.to_s %>
<% content_for :title do %>
  Which language is the <%= link_to @plaque.title, @plaque %> written in?
<% end %>
<% content_for :page_subhead do %>
  <% if url_for(only_path: false).include?('microtask') %>
    <%= button_to "Not sure. Give me another one", todo_path('microtask'), method: :get, class: :button %>
  <% end %>
<% end %>
<%= render 'plaques/edit_bar', plaque: @plaque %>

<%= form_for @plaque do |f| %>
  <div class="form-group">
    <%= f.label :language_id, t('.language_label') %>
    <%= f.collection_select :language_id, @languages, :id, :name, {class: 'form-control'} %>
  </div>
  <%= f.submit t('buttons.save'), class: 'btn btn-primary' %>
<% end %>
