<% content_for :page_title, "Edit " + @colour.name %>
<h1>Edit <%= @colour %></h1>

<%= form_for(@colour) do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :slug %>
    <%= f.text_field :slug %>
  </p>

  <p>
    <%= f.label :common %>
    <%= f.check_box :common %>
  </p>

  <p>
    <%= f.submit "Update", :class => :button %>
  </p>
<% end %>