<% content_for(:page_title) {t '.page_title'} %>
<% content_for(:title) {t '.page_heading'} %>

<%= form_for @colour do |f| %>
  <div class="mb-3">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="mb-3">
    <%= f.label :dbpedia_uri %>
    <%= f.text_field :dbpedia_uri %>
  </div>
  <%= f.submit t('buttons.save') %>
<% end %>
