<% content_for(:page_title) {t '.page_title', verb: @verb.name } %>
<% content_for(:title) { @verb.name } %>
<% content_for(:page_subhead) do %>
  Each subject is connected to a plaque by what they did there
  <span class="label label-default label-pill pull-right">
    <%= @verb.personal_connections_count %>
  </span>
<% end %>

<% if @verb.personal_connections.count < 3 %>
  <div class="row">
    <% @verb.personal_connections.each do |personal_connection| %>
      <div class="col-xs-6 col-sm-4 col-md-3"><%= render personal_connection %></div>
    <% end %>
  </div>
<% elsif @verb.personal_connections.count < 11 %>
  <div class="row">
    <% cols = (12 / @verb.personal_connections.count).ceil %>
    <% cols = [cols,2].max %>
    <% @verb.personal_connections.each do |personal_connection| %>
      <div class="col-xs-6 col-sm-<%= cols %>"><%= render personal_connection %></div>
    <% end %>
  </div>
<% else %>
  <%= will_paginate @personal_connections %>
  <div class="card-columns">
    <%= render @personal_connections %>
  </div>
  <%= will_paginate @personal_connections %>
<% end %>
