  <div class="mb-3">
    <%= label_tag(
      :streetview_url,
      t('find_on_google_maps_html', q: q),
      class: 'form-label') %>
    <div class="col-sm-10">
      <%= text_field_tag(:streetview_url, nil) %>
    </div>
  </div>
  <div class="mb-3">
    <%= label_tag(nil, t('.geolocation')) %>
    <div class="col-sm-10">
      <%= f.label :latitude %> <%= f.text_field :latitude %>
      <%= f.label :longitude %> <%= f.text_field :longitude %>
    </div>
  </div>
  <% if object.geolocated? %>
    <div id="map" style="height: 400px; width: 100%; margin-top: 15px;"></div>
  <% end %>
