<% content_for(:page_title) {t '.page_title', :series => @series.name} %>
<% content_for(:title) {t '.page_heading', :series => @series.name} %>

<div class="container">
  <%= form_for(@series) do |f| %>
    <div class="form_group"><%= f.label :name %> <%= f.text_field :name %></div>
    <div class="form_group"><%= f.label :description %> <%= f.text_field :description %></div>
    <div class="form_group"><%= f.submit t('buttons.save'), :class => [:btn, :'btn-primary'] %></div>
  <% end %>
</div>
