<% content_for(:page_title) {t '.page_title', :series => @series.name} %>

<div class="panel clearfix">
  <h1><%= t '.page_heading', :series => @series.name %></h1>
  <%= form_for(@series) do |f| %>
    <p><%= f.label :name %> <%= f.text_field :name %></p>
    <p><%= f.label :description %> <%= f.text_field :description %></p>
    <p><%= f.submit t('buttons.save') , :class => :button %></p>
  <% end %>
</div>
