<% content_for(:page_title) {t '.page_title', series: @series.name} %>
<% content_for(:title) {t '.page_heading', series: @series.name} %>

<%= form_for(@series) do |f| %>
  <div class="mb-3">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="mb-3">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <%= render 'geolocate', {f: f, object: @series, q: "#{@series.name}"} %>
  <%= f.submit t('buttons.update') %>
<% end %>
<br/>
<% if @series.plaques.geolocated.size > 0 %>
  <%= button_to 'geolocate from plaques', controller: :series, action: :geolocate, id: @series %>
<% end %>
