<% content_for(:page_title) {t '.page_title'} %>

<div class="panel">
  <h1><%= t '.page_heading' %></h1>
  <%= form_for(@series) do |f| %>
    <p><%= f.label :name, t('.name') %> <%= f.text_field :name %></p>
    <p><%= f.label :description, t('.description') %> <%= f.text_field :description %></p>
    <p><%= f.submit t('buttons.save'), :class => :button %></p>
  <% end %>
</div>