<% content_for(:page_title) {t '.page_title', :series => @series.name } %>

<div class="panel">
  <% if current_user && current_user.is_admin? %>
    <section class="admin_panel">
      <%= link_to t('buttons.edit'), edit_series_path(@series), {:class => :edit, :title => t('buttons.edit')} %>
    </section>
  <% end %>
  <h1 property="dc:title rdfs:label foaf:name" about="#this"><%= t '.page_heading', :series => @series.name %></h1>
  <%= render @series %>
  <div id="plaque-map" data-latitude="<%= @mean.latitude %>" data-longitude="<%= @mean.longitude %>" data-view="all" context="<%= request.path %>"></div>
  <%= will_paginate @plaques %>
  <%= render @plaques %>
  <%= will_paginate @plaques %>
</div>