<% content_for(:page_title) {t '.page_title', :series => @series.name } %>
<% content_for(:title) { } %>
<% content_for(:admin_menu) {navbar_link_to t('buttons.edit'), edit_series_path(@series), {:class => :edit, :title => t('buttons.edit')}} %>

<div class="row">
  <%= render @series %>
</div>

<div class="row" id="plaque-map" data-latitude="<%= @series.latitude %>" data-longitude="<%= @series.longitude %>" data-view="all" context="<%= request.path %>"></div>

<div class="container-fluid">
  <div class="row">
    <%= will_paginate @plaques %>
  </div>
  <div class="card-columns">
    <%= render @plaques %>
  </div>
  <div class="row">
    <%= will_paginate @plaques %>
  </div>
</div>
