<% content_for(:page_title) {t '.page_title'} %>
<% content_for(:title) {t '.page_heading'} %>

<div class="panel clearfix">
  <section class="location">
    <h2><%= t '.location' %></h2>
    <p><%= t '.location_blurb' %></p>
    <div id="plaque-map" class="mini" data-latitude="51.5" data-longitude="0" data-zoom="8" data-view="all"></div>
  </section>

  <section>
    <h2><%= t '.people' %></h2>
    <p><%= t '.people_blurb' %></p>
    <nav>
      <% for letter in "A".."Z" %>
        <%= link_to(letter, people_by_index_path(letter.downcase)) %>
      <% end %>
    </nav>
  </section>
</div>
