<% content_for(:page_title) {t '.page_title', :location => @location.name} %>

<%= render 'plaques/edit_bar', :plaque => @location.plaques.first %>

<div class="panel clearfix">
  <h1><%= t '.page_heading', :location => @location.full_address %></h1>
  <p><%= t '.plaque_at_location' %>
    <%= render @location.plaques %>
  </p>
</div>

<div class="panel clearfix">
  <%= form_for @location do |f| %>
    <p>
      <%= f.text_field :name %>
      <% if @areas.size > 0 %>
        <%= f.collection_select :area_id, @areas, :id, :name, {:include_blank => true} %>
      <% end %>
      <%= f.submit t('buttons.update'), :class => :button %>
    </p>
  <% end %>
  <br/>
  <p><%= t '.add_an_area' %>
    <% @countries.each do |country| %>
      <%= link_to(country.name, "/places/" + country.alpha2 + "/areas/new") %>
    <% end %>
  </p>
  <br/>
  <p><%= button_to t('buttons.delete'), location_path(@location), {:method => :delete, :class => :button} if current_user.try(:is_admin?) %></p>
</div>