<%= render 'shared/navbar' %>
<div class="container-fluid">
  <%= render 'shared/alerts' %>
  <%= render 'shared/page_header' %>
  <%= yield %>
  <%= render 'shared/footer' %>
</div>
<% parent_layout 'base' %>
