<header>
  <%= render 'layouts/navbar' %>
</header>
<div class="container-fluid">
  <main>
    <%= render 'layouts/alerts' %>
    <%= render 'layouts/page_header' %>
    <%= yield %>
  </main>
  <%= render 'layouts/footer' %>
</div>
<% parent_layout 'base' %>
