<header>
  <%= render 'shared/navbar' %>
</header>
<div class="container-fluid">
  <main>
    <%= render 'shared/alerts' %>
    <%= render 'shared/page_header' %>
    <%= yield %>
  </main>
  <%= render 'shared/footer' %>
</div>
<% parent_layout 'base' %>
