<%# The "base" layout contains boilerplate common to *all* views. %>

<!DOCTYPE html>
<!--[if lt IE 7]><html class="ie ie6"><![endif]-->
<!--[if IE 7]><html class="ie ie7"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<!--[if gt IE 9]><html class="ie"><![endif]-->
<!--[if !IE]><!--><html><!--<![endif]-->
  <head>
    <%= yield(:head) %>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'http://maps.stamen.com/js/tile.stamen.js?v1.3.0' %>
    <%= javascript_include_tag 'http://openlayers.org/dev/OpenLayers.js' if @map %>
    <%= tag("link", :rel => "shortcut icon", :href => image_path("openplaques-icon.png"))%>
    <%= csrf_meta_tags %>
    <%= display_meta_tags :site => 'Open Plaques' %>
    <title>
      <%= strip_tags(yield(:page_title)) %>
      Open Plaques
    </title>
  </head>
  <body>
    <% if Rails.env == 'development' %>
      <%= render 'home/development_message' %>
    <% end %>
    <%= yield %>
    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
  </body>
</html>
