<%= render 'shared/navbar' %>
<div class="container-fluid">
  <%= render 'shared/alerts' %>
  <%= render 'shared/page_header' %>
  <% if @plaque.main_photo %>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <%= yield %>
      </div>
      <div class="col-xs-12 col-sm-6">
        <%= render @plaque.main_photo, large: true %>
      </div>
    </div>
  <% else %>
    <%= yield %>
  <% end %>
  <%= render 'shared/footer' %>
</div>
<% parent_layout 'base' %>
